<hgc-menu></hgc-menu>
<section class="workSpace">
  <h1 class="Title">Canton, ParroquiaS y circuitos</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary' ng-click="handleShowForm()"><i class="material-icons">mode_edit</i></button>
  </div>
  <article class="tableContainer" style="padding: .5em">
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="parroquias">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Canton</th>
          <th>Parroquia</th>
          <th>Circuito</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="parroquias.length === 0">
          <td colspan="5">No hay parroquias</td>
        </tr>
        <tr ng-pagination="parroquia in parroquias" ng-pagination-size="5">
          <td>{{ $index + 1 }}</td>
          <td>{{ parroquia.hgc_desc_canton }}</td>
          <td>{{ parroquia.hgc_desc_parro }}</td>
          <td>{{ parroquia.hgc_desc_circ }}</td>
          <td>
            <button class='waves-effect waves-light btn primary'
              ng-click="get(parroquia)">Editar
            </button>
            <button class='waves-effect waves-light btn danger'
              ng-click="delete(parroquia.hgc_codi_parro)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="parroquias"></ng-pagination-control>
    </div>
  </article>

  <div class="formContainer ed-item s-90 m-75 m-offset-5"
    ng-class="{ 'formContainer-active': showForm }">
    <article class="form ed-item s-100 m-75">
      <header>
        <h3>Registrar de parroquia</h3>
      </header>

      <article class="main-distribute">
        <div class="form__input s-100 m-45">
          <label for="parroquia">Ingresa la parroquia</label>
          <input id="parroquia" type="text" placeholder='Ejemplo: Rio Verde' ng-model='data.parroquia'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="canton">Canton</label>
          <select id="canton" ng-model='data.canton' class='browser-default'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="canton in cantones" value="{{ canton.hgc_codi_canton }}">
              {{ canton.hgc_desc_canton }} - {{ canton.hgc_desc_dist }}
            </option>
          </select>
        </div>

        <div class="form__input s-100 m-45" style="margin-bottom:1em">
          <label for="circuitos">Circuitos</label>
          <select id="circuitos" ng-model='data.circuito' class='browser-default'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="ciruito in ciruitos" value="{{ ciruito.hgc_codi_circ }}">
              {{ ciruito.hgc_desc_circ }}
            </option>
          </select>
        </div>

      </article>

      <div class='main-distribute'>
        <button class='waves-effect waves-light btn danger bxn' ng-click="handleCancel()">Cancelar</button>
        <button class='waves-effect waves-light btn primary bxn' ng-click="handleSave()">Aceptar</button>
      </div>
    </article>
  </div>
</section>
