<hgc-menu></hgc-menu>
<section class="workSpace">
  <h1 class="Title">Parroquia</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary' ng-click="handleShowForm()"><i class="material-icons">mode_edit</i></button>
  </div>
  <article class="tableContainer" style="padding: .5em">
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="parroquias">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="60%">Parroquia</th>
          <th width="30%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="parroquias.length === 0">
          <td colspan="5">No hay parroquias</td>
        </tr>
        <tr ng-pagination="parroquia in parroquias" ng-pagination-size="5">
          <td>{{ $index + 1 }}</td>
          <td>{{ parroquia.hgc_desc_parro }}</td>
          <td>
            <button class='waves-effect waves-light btn primary'
              ng-click="get(parroquia.hgc_codi_parro, parroquia.hgc_desc_parro, parroquia.hgc_cant_parro)">Editar
            </button>
            <button class='waves-effect waves-light btn danger'
              ng-click="delete(parroquia.hgc_codi_parro)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="parroquias"></ng-pagination-control>
    </div>
  </article>

  <div class="formContainer ed-item s-90 m-75 m-offset-5"
    ng-class="{ 'formContainer-active': showForm }">
    <article class="form ed-item s-100 m-75">
      <header>
        <h3>Registrar de parroquia</h3>
      </header>
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a class="active" href="#tabs-swipe-1">Informacion</a></li>
        <li class="tab col s3"><a href="#tabs-swipe-2">Circuitos</a></li>
      </ul>

      <div id="tabs-swipe-1" class="s-100">
        <div class="form__input">
          <label for="parroquia">Ingresa la parroquia</label>
          <input id="parroquia" type="text" placeholder='Ejemplo: Rio Verde' ng-model='data.parroquia'>
        </div>
        <div class="form__input">
          <label for="canton">Seleciona</label>
          <select id="canton" ng-model='data.canton' class='browser-default'>
            <option value="" selected>Canton</option>
            <option ng-repeat="canton in cantones" value="{{ canton.hgc_codi_canton }}">{{ canton.hgc_desc_canton }}</option>
          </select>
        </div>
      </div>

      <div id="tabs-swipe-2" class="s-100">
        <div class="input-field s-90 s-offset-5">
          <input id="buscador" type="text" ng-pagination-search="ciruitos">
          <label for="buscador">Buscador</label>
        </div>
        <table class="bordered highlight centered responsive-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Circuito</th>
              <th>Confirmar</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="ciruitos.length === 0">
              <td colspan="3">No hay ciruitos</td>
            </tr>
            <tr ng-pagination="ciruito in ciruitos" ng-pagination-size="3">
              <td>{{ $index + 1 }}</td>
              <td>{{ ciruito.hgc_desc_circ }}</td>
              <td>
                <input type="checkbox" id="confir_{{ ciruito.hgc_codi_circ }}"
                  class="confirmarEspecialidad" data-circ="{{ciruito.hgc_codi_circ}}" />
                <label for="confir_{{ ciruito.hgc_codi_circ }}"></label>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="main-distribute paging-container s-100">
          <ng-pagination-control pagination-id="ciruitos"></ng-pagination-control>
        </div>

      </div>

      <div class='main-distribute'>
        <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
        <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
      </div>
    </article>
  </div>
</section>
