<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace" style="width: 100%;">
  <style scoped>
  .container--wallpaper {
    height: 139%;
  }
    .adulto-mayor__active {color: white;}
  </style>
  <input type="hidden" ng-model='data.id' />
  <article class="form ed-item">
    <div class="Establecimiento">
      <ul class="Establecimiento-header" style="grid-template-columns: 27% 27% 18% 9% 19%;">
        <li>ESTABLECIMIENTO</li>
        <li>APELLIDO Y NOMBRES</li>
        <li>SEXO (M-F)</li>
        <li>EDAD</li>
        <li>Nº HISTORIA CLINICA</li>
      </ul>
      <ul class="Establecimiento-body" style="grid-template-columns: 27% 27% 18% 9% 19%;">
        <li>{{empresa.hgc_nom_empr}}</li>
        <li>{{pacient.paciente.paciente}}</li>
        <li>{{ pacient.sexo.hgc_desc_genero }}</li>
        <li>{{edad.years}} años, {{edad.months}} meses, {{edad.days}} dias</li>
        <li>{{pacient.paciente.hgc_histo_hcli}}</li>
      </ul>
    </div>
    <div class="input-field s-100" style="margin-top: 2rem;">
      <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.motivo"></textarea>
      <label class="header" for="motivo-consulta">1. Motivo de Consulta</label>
    </div>
    <div class="input-field s-100">
      <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.enfermedad"></textarea>
      <label class="header" for="motivo-consulta">2. Enfermedad o problema actual *</label>
    </div>
    <div class="input-field s-100">
      <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.antpersonal"></textarea>
      <label class="header" for="motivo-consulta">3. Antecedentes personales
        <span>Datos clinicos - QUIRURGICOS RELEVANTES Y GINECO OBSTETRICOS</span>
      </label>
    </div>
    <div class='AntPersonalSenior'>
      <label class="header">4. ANTECEDENTES FAMILIARES</label>
      <ul class="AntPersonalSenior-list">
        <li class="AntPersonalSenior-list__item">
          <p>1. CARDIOPATIA</p>
          <p>
            <input type="checkbox" id="cardiopatia" ng-model='data.cardiopatia' value="1" />
            <label for="cardiopatia"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>2. DIABETES</p>
          <p>
            <input type="checkbox" id="diabetis" ng-model='data.diabetis' value="1" />
            <label for="diabetis"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>3. ENF. C. VASCULAR</p>
          <p>
            <input type="checkbox" id="envcvascular" ng-model='data.vascular' value="1" />
            <label for="envcvascular"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>4. HIPERTENSIÒN</p>
          <p>
            <input type="checkbox" id="hipertension" ng-model='data.hipertension' />
            <label for="hipertension"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>5. CÀNCER</p>
          <p>
            <input type="checkbox" id="cancer" ng-model='data.cancer' />
            <label for="cancer"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>6. TUBERCULOSIS</p>
          <p>
            <input type="checkbox" id="tuberculosis" ng-model='data.tuberculosis' />
            <label for="tuberculosis"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>7. ENF. MENTAL</p>
          <p>
            <input type="checkbox" id="enfMental" ng-model='data.mental' />
            <label for="enfMental"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>8. ENF. INFECCIOSA</p>
          <p>
            <input type="checkbox" id="enfInfecciosa" ng-model='data.infecciosa' />
            <label for="enfInfecciosa"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>9. OTRO ANTECEDENTE</p>
          <p>
            <input type="checkbox" id="otroAntecedente" ng-model='data.otroantece' />
            <label for="otroAntecedente"></label>
          </p>
        </li>
        <li class="AntPersonalSenior-list__item">
          <p>10. SIN ANTECEDENTES</p>
          <p>
            <input type="checkbox" id="sinAntecedentes" ng-model='data.sinantecedente' />
            <label for="sinAntecedentes"></label>
          </p>
        </li>
      </ul>
    </div>

    <div class="SignosVitales" style="margin-bottom: 1rem;">
      <label class="header">6. SIGNOS VITALES Y ANTROPOMETRIA</label>
      <ul class="SignosVitales-list">
        <li class="input-field">
          <p class="SignosVitales-border">FECHA DE MEDICÌON</p>
          <input class="SignosVitales-border" type="text"
            ng-model='signos.hgc_fecha_sigvit' disabled
            style="padding: 0 1rem;width: 95.1%;"
          />
        </li>
        <li class="input-field">
          <p class="SignosVitales-border">TEMPERATURA (°C)</p>
          <input class="SignosVitales-border" type="text"
            ng-model='signos.hgc_temp_sigvit'disabled
            style="padding: 0 1rem;width: 95.1%;"
          />
        </li>
        <li class="input-field">
          <p class="SignosVitales-border">PRESION ARTERIAL (mmHg)</p>
          <input class="SignosVitales-border" type="text"
            ng-model='signos.hgc_prart_sigvit'disabled
            style="padding: 0 1rem;width: 95.1%;"
          />
        </li>
        <li class="input-field">
          <p class="SignosVitales-border">PULSO/min / FRECUENCIA RESPIRATORIA (x min)</p>
          <p class="SignosVitales-inputs SignosVitales-border">
            <input type="text" ng-model='signos.hgc_puls_sigvit' disabled
              style="padding: 0 1rem;width: 95.1%;"
            /> /
            <input type="text" ng-model='signos.hgc_frresp_sigvit' disabled
              style="padding: 0 1rem;width: 95.1%;"
            />
          </p>
        </li>
        <li class="input-field">
          <p class="SignosVitales-border">PESO/kg / TALLA/cm</p>
          <p class="SignosVitales-inputs SignosVitales-border">
            <input type="text" ng-model='signos.hgc_peso_sigvit' disabled
              style="padding: 0 1rem;width: 95.1%;"
            /> /
            <input type="text" ng-model='signos.hgc_talla_sigvit' disabled
              style="padding: 0 1rem;width: 95.1%;"
            />
          </p>
        </li>
      </ul>
    </div>

    <div class="ExamenFisicoRegional">
      <p class="ExamenFisicoRegional-title">
         Examen Fìsico Regional
        <span class="ExamenFisicoRegional-cp">
           CP= CON EVIDENCIA DE PATOLOGIA MARCA "X" Y DESCRIBIR ABAJO ANOTANDO EL NÙMERO Y LETRA CORRESPONDIENTES
        </span>
        <span class="ExamenFisicoRegional-sp">
           PS= SIN EVIDENCIA DE PATOLOGIA MARCA "X" Y NO DESCRIBIR
        </span>
      </p>
      <ul class="ExamenFisicoRegional-list">
        <li class="ExamenFisicoRegional--item">
          1 CABEZA
          <p>
            <input class="with-gap" name="cabeza" type="radio" id="cabeza-1"
              ng-model='data.cabeza' value="1"
            />
            <label for="cabeza-1"></label>
            <input class="with-gap" name="cabeza" type="radio" id="cabeza-2"
              ng-model='data.cabeza' value="2"
            />
            <label for="cabeza-2"></label>
          </p>
        </li>

        <li class="ExamenFisicoRegional--item">
          2 CUELLO
          <p>
            <input class="with-gap" name="cuello" type="radio" id="cuello-1"
              ng-model='data.cuello' value="1"
            />
            <label for="cuello-1"></label>
            <input class="with-gap" name="cuello" type="radio" id="cuello-2"
              ng-model='data.cuello' value="2"
            />
            <label for="cuello-2"></label>
          </p>
        </li>

        <li class="ExamenFisicoRegional--item">
          3 TORAX
          <p>
            <input class="with-gap" name="torax" type="radio" id="torax-1"
              ng-model='data.torax' value="1"
            />
            <label for="torax-1"></label>
            <input class="with-gap" name="torax" type="radio" id="torax-2"
              ng-model='data.torax' value="2"
            />
            <label for="torax-2"></label>
          </p>
        </li>

        <li class="ExamenFisicoRegional--item">
          4 ABDOMEN
          <p>
            <input class="with-gap" name="abdomen" type="radio" id="abdomen-1"
              ng-model='data.abdomen' value="1"
            />
            <label for="abdomen-1"></label>
            <input class="with-gap" name="abdomen" type="radio" id="abdomen-2"
              ng-model='data.abdomen' value="2"
            />
            <label for="abdomen-2"></label>
          </p>
        </li>
        <li class="ExamenFisicoRegional--item">
          5 PELVIS
          <p>
            <input class="with-gap" name="pelvis" type="radio" id="pelvis-1"
              ng-model='data.pelvis' value="1"
            />
            <label for="pelvis-1"></label>
            <input class="with-gap" name="pelvis" type="radio" id="pelvis-2"
              ng-model='data.pelvis' value="2"
            />
            <label for="pelvis-2"></label>
          </p>
        </li>
        <li class="ExamenFisicoRegional--item">
          6 EXTREMIDADES
          <p>
            <input class="with-gap" name="extremidades" type="radio" id="extremidades-1"
              ng-model='data.extremidades' value="2"
            />
            <label for="extremidades-1"></label>
            <input class="with-gap" name="extremidades" type="radio" id="extremidades-2"
              ng-model='data.extremidades' value="3"
            />
            <label for="extremidades-2"></label>
          </p>
        </li>
      </ul>
      <div class="input-field s-100">
        <textarea id="motivo-consulta" class="materialize-textarea" ng-model='data.examenFisico'
          placeholder="Escribir las pruebas del diagnostico"></textarea>
      </div>
    </div>
    <section class="main-justify">
      <article class="s-100 l-75 cie-container" style="margin-top: 1rem">
        <table class="bordered striped highlight centered responsive-table cie-table">
          <thead>
            <tr>
              <th width="40%">10 DIAGNÓSTICOS / <span>CIE</span></th>
              <th width="20%">CIE</th>
              <th width="10%">PRE</th>
              <th width="10%">DEF</th>
            </tr>
          </thead>
          <tbody id="cie-table">
            <tr ng-repeat='cie in cie10'>
              <td id="cie-nombre{{$index+1}}" class="input-field">
                <input type="text" placeholder="Ingresa el nombre CIE 10"
                  class="u-noMargin filter-cie-nombre10"
                  ng-model='cie.name'
                  ng-keyup="cieGetName($event, cie)"
                />
              </td>
              <td class="input-field">
                <input type="text" maxlength="4" placeholder="Ingresa el codigo CIE 10"
                  class="u-noMargin filter-cie10"
                  ng-model='cie.cie'
                  ng-keyup="cieGet($event, cie)"
                />
              </td>
              <td id="cie-pre1">
                <p ng-if='cie.isActive'>
                  <input class="with-gap" name="cie{{$index+1}}"
                    type="radio"
                    id="{{ cie.cie }}_{{ $index+1 }}-1"
                    ng-model='cie.check'
                    value="pre"
                  />
                  <label for="{{ cie.cie }}_{{ $index+1 }}-1"></label>
                </p>
              </td>
              <td id="cie-def1">
                <p ng-if='cie.isActive'>
                  <input class="with-gap" name="cie{{$index+1}}"
                    type="radio"
                    id="{{ cie.cie }}_{{ $index+1 }}-2"
                    ng-model='cie.check'
                    value="def"
                  />
                  <label for="{{ cie.cie }}_{{ $index+1 }}-2"></label>
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <button class="waves-effect waves-light btn primary" ng-click="handleNewCIE10()">
          <i class="material-icons">add</i>
        </button>
      </article>
    </section>
    <article class="PruebasDiagnostico">
      <p class="PruebasDiagnostico--title">
        9 PLAN DE TRATMIENTO
        <span>REGISTRAR LOS PLANES: DIAGNÓSTICOS, TERAPEÙTA Y EDUCACIONAL</span>
      </p>
      <div class="input-field s-100">
        <textarea id="motivo-consulta" class="materialize-textarea"
          placeholder="Escribir las pruebas del diagnostico" ng-model='data.tratamiento'></textarea>
      </div>
    </article>

    <!-- AKI -->
    <div class="Footer" style="display:none;">
      <ul class="Footer-header">
        <li>FECHA</li>
        <li>HORA</li>
        <li>NOMBRE DELPROFESIONAL</li>
        <li>CODIGO</li>
        <li>FIRMA</li>
        <li>NUMERO DE HOJA</li>
      </ul>
      <ul class="Footer-body">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <p class="Footer-mesaje">
        <span>SNS-MSP / HCU-form.057 / 2010</span>
        <span>ATENCION AL ADULTO MAYOR (2)</span>
      </p>
    </div>

    <div class='main-distribute'>
      <a class="waves-effect waves-light btn primary" ng-click='save()' ng-if='!isActionGet'>Guardar</a>
      <a class="waves-effect waves-light btn cyan green accent-3"
        ui-sref='pacientesAtendidos'
        ng-if='isActionGet'>Cerrar
      </a>
    </div>
    <!-- /AKI -->

  </article>
</section>
