<hgc-menu></hgc-menu>
<section class="workSpace">
  <div class="Title">Servicios</div>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()">
      <i class="material-icons">mode_edit</i>
    </button>
  </div>
  <div class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Descripcion</th>
          <th>Visible</th>
          <th>Acciòn</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="servicios.length === 0">
          <td colspan="4">No hay servicios</td>
        </tr>
        <tr ng-repeat='servicio in servicios'>
          <td>{{ $index + 1 }}</td>
          <td>{{ servicio.hgc_desc_serv }}</td>
          <td>
            <input type="checkbox" id="visible_{{ servicio.hgc_codi_serv }}"
              ng-if="servicio.hgc_est_serv === false"
              ng-click="handleVisible(servicio)" />
            <input type="checkbox" id="visible_{{ servicio.hgc_codi_serv }}"
                ng-if="servicio.hgc_est_serv === true" checked
                ng-click="handleVisible(servicio)" />
            <label for="visible_{{ servicio.hgc_codi_serv }}"></label>
          </td>
          <td>
            <button class="waves-effect waves-light btn primary"
              ng-click="handleEdit(servicio)">Editar
            </button>
            <button class="waves-effect waves-light btn danger"
              ng-click="handleDelete(servicio.hgc_codi_serv)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div id="modalInstitucion" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="title-password">Registrar Servicios</h4>
    <article>
      <div class="input-field">
        <input id="descricion" type="text" ng-model='data.descripcion'>
        <label for="descricion">Descripcion</label>
      </div>
      <p class="main-center">
        <input type="checkbox" id="visible" checked ng-model='data.visible' />
        <label for="visible">visible</label>
      </p>
    </article>
  </div>
  <div class="modal-footer main-center">
    <button class="modal-action modal-close waves-effect waves-light btn danger bxn"
      ng-click='handleClose()'>
      Cerrar
    </button>
    <button class="waves-effect waves-light btn primary bxn" style="margin-left:1em"
      ng-click='handleSave()'>
      Guardar
    </button>
  </div>
</div>
