<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace">
  <h1 class="Title">Pacientes Atendidos</h2>
  <article class="tableContainer">
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="servicios">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
          <tr>
            <th width="5%">#</th>
            <th width="15%">Historia Clinica</th>
            <th width="20%">Paciente</th>
            <th width="20%">Doctor</th>
            <th width="10%">Fecha</th>
            <th width="30%"></th>
          </tr>
        </thead>
      <tbody>
          <tr ng-if="pacientes.length === 0">
            <td colspan="6">No hay pacientes</td>
          </tr>
          <tr ng-pagination="paciente in pacientes" ng-pagination-size="5">
            <td>{{ $index + 1 }}</td>
            <td>{{ paciente.hgc_paci_turno }}</td>
            <td>{{ paciente.paciente }}</td>
            <td>{{ paciente.doctor }}</td>
            <td>{{ paciente.hgc_fech_turno }}</td>
            <td>
              <a class='waves-effect waves-light btn cyan green accent-3'
                ng-click="handleSee(paciente)">Ver
              </a>
              <a class='waves-effect waves-light btn primary' ng-click="handleEdit(paciente)">Editar</a>
            </td>
          </tr>
        </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="consultorios"></ng-pagination-control>
    </div>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large orange darken-3">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating green accent-3" ng-click='filter_alarm()'>
            <i class="material-icons">alarm</i>
          </a>
        </li>
        <li>
          <a class="btn-floating light-green accent-3" ng-click='filter_pacient()'>
            <i class="material-icons">accessibility</i>
          </a>
        </li>
      </ul>
    </div>
  </article>


<div id="alarmas-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="center-align title-filter">Filtrar Por Fecha</h4>
    <form class="alarmas-modal__forms">
      <div class="input-field" style="width:100%">
        <input id="fecha_inicio" type="text" class="datepicker" ng-model='data.inicio'>
        <label for="fecha_inicio">Fecha Inicio</label>
      </div>
      <div class="input-field" style="width:100%">
        <input id="fecha_final" type="text" class="datepicker" ng-model='data.final'>
        <label for="fecha_final">Fecha Final</label>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <a class="waves-effect btn waves-ligth red darken-1" ng-click='onAlarmClose()'>
      Cerrar
    </a>
    <a class="waves-effect btn waves-ligth green accent-3" ng-click='onAlarmAcept()'>
      Aceptar
    </a>
  </div>
</div>

<div id="pacientes-modal" class="modal modal-fixed-footer" style="width:35%;height:51%;">
  <div class="modal-content">
    <h4 class="center-align title-filter">Filtrar Por Pacientes</h4>
    <form class="alarmas-modal__forms" style="align-items: center;">
      <div style="width:100%;">
        <label>Pacientes</label>
        <select class="browser-default" ng-model='data.paciente' id="paciente_select">
          <option value="" disabled selected>Selecione el paciente</option>
          <option ng-repeat='paciente in pacientesFilter' value="{{ paciente.hgc_paci_turno  }}">
            {{ paciente.paciente }} - {{ paciente.hgc_paci_turno }}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <a class="modal-action waves-effect btn waves-ligth red darken-1" ng-click='onCancelPaciente()'>
      Cerrar
    </a>
    <a class="modal-action waves-effect btn waves-ligth green accent-3"ng-click='onAceptPaciente()'>
      Aceptar
    </a>
  </div>
</div>
