<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace" style="width: 100%;">
  <style scoped>
    [type="radio"]:not(:checked),
    [type="radio"]:checked {
      position: static;
      opacity: 1;
    }
    [type="radio"] + label:after {
      display: none;
    }
    [type="radio"] + label::before {
      display: none;
    }
    .container--wallpaper {
      height: 263%;
    }
    .adulto-mayor__active {
      color: white;
    }
  </style>
  <article class="form ed-item">
  <div id="hoja1">
    <div class="Establecimiento">
      <ul class="Establecimiento-header">
        <li>ESTABLECIMIENTO</li>
        <li>APELLIDO Y NOMBRES</li>
        <li>EDAD</li>
        <li>VIVE CON</li>
        <li style="font-size: 11px;">OCUPACION ANTERIOR / OCUPACION ACTUAL</li>
        <li>Nº HISTORIA CLINICA</li>
      </ul>
      <ul class="Establecimiento-body">
        <li>{{empresa.hgc_nom_empr}}</li>
        <li>{{pacient.paciente.paciente}}</li>
        <li>{{edad.years}} años, {{edad.months}} meses, {{edad.days}} dias</li>
        <li></li>
        <li></li>
        <li>{{pacient.paciente.hgc_histo_hcli}}</li>
      </ul>
    </div>

    <div class="input-field s-100" style="margin-top: 2rem;">
      <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.motivo"></textarea>
      <label class="header" for="motivo-consulta">1. Motivo de Consulta</label>
    </div>
    <div class="input-field s-100">
      <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.enfermedad"></textarea>
      <label class="header" for="motivo-consulta">2. Enfermedad o problema actual</label>
    </div>

    <div class="input-field col s6">
      <input id="medicamentos_recibe" type="text" ng-model='data.medicamento' />
      <label for="medicamentos_recibe">MEDICAMENTOS QUE RECIBE</label>
    </div>

    <u class="EstadoGeneral">
      <li class="EstadoGeneral-title">Estado General</li>
      <li class="EstadoGeneral-list">
        <p>
          <input name="estadoGeneral" type="radio" id="dependiente"
            value='dependiente' class="estadoGeneral"
          />
          <label for="dependiente">DEPENDIENTE</label>
        </p>
        <p>
          <input name="estadoGeneral" type="radio" id="fragil" value='fragil' class="estadoGeneral" />
          <label for="fragil">FRAGIL</label>
        </p>
        <p>
          <input name="estadoGeneral" type="radio" id="independiente" value='independiente' class="estadoGeneral" />
          <label for="independiente">INDEPENDIENTE</label>
        </p>
      </li>
    </u>

    <ul class="RevisionSistema">
      <li class="RevisionSistema-title">3 Revisiòn Actual del Sistema
        <p>Con patologia. Describir anotando el numero, Sin patologia. No Describir</p>
      </li>
      <li class="RevisionSistema-item no-boder--bottom">
        <p>
          1.- VISIÒN
          <input name="RevisionSistema-vision" type="radio" id="vision-1" />
          <label for="vision-1"></label>
          <input name="RevisionSistema-vision" type="radio" id="vision-2" />
          <label for="vision-2"></label>
        </p>
        <p>
          2.- AUDISIÒN
          <input name="RevisionSistema-audision" type="radio" id="audision-1" />
          <label for="audision-1"></label>
          <input name="RevisionSistema-audision" type="radio" id="audision-2" />
          <label for="audision-2"></label>
        </p>
        <p>
          3.- OLFATO Y GUSTO
          <input name="RevisionSistema-olfatoGusto" type="radio" id="olfatoGusto-1" />
          <label for="olfatoGusto-1"></label>
          <input name="RevisionSistema-olfatoGusto" type="radio" id="olfatoGusto-2" />
          <label for="olfatoGusto-2"></label>
        </p>
        <p>
          4.- RESPIRATORIO
          <input name="RevisionSistema-respiratorio" type="radio" id="respiratorio-1" />
          <label for="respiratorio-1"></label>
          <input name="RevisionSistema-respiratorio" type="radio" id="respiratorio-2" />
          <label for="respiratorio-2"></label>
        </p>
        <p>
          5.- CARDIO VASCULAR
          <input name="RevisionSistema-cardioVascular" type="radio" id="cardioVascular-1" />
          <label for="cardioVascular-1"></label>
          <input name="RevisionSistema-cardioVascular" type="radio" id="cardioVascular-2" />
          <label for="cardioVascular-2"></label>

        </p>
        <p>
          6.- DIGESTIVO
          <input name="RevisionSistema-digestivo" type="radio" id="digestivo-1" />
          <label for="digestivo-1"></label>
          <input name="RevisionSistema-digestivo" type="radio" id="digestivo-2" />
          <label for="digestivo-2"></label>
        </p>
      </li>
      <li class="RevisionSistema-item">
        <p>
          7.- GENITO UNITARIO
          <input name="RevisionSistema-genitoUnitario" type="radio" id="genitoUnitario-1" />
          <label for="genitoUnitario-1"></label>
          <input name="RevisionSistema-genitoUnitario" type="radio" id="genitoUnitario-2" />
          <label for="genitoUnitario-2"></label>
        </p>
        <p>
          8.- MUSCULO ESQUELETICO
          <input name="RevisionSistema-musculoEsqueletico" type="radio" id="musculoEsqueletico-1" />
          <label for="musculoEsqueletico-1"></label>
          <input name="RevisionSistema-musculoEsqueletico" type="radio" id="musculoEsqueletico-2" />
          <label for="musculoEsqueletico-2"></label>
        </p>
        <p>
          9.- ENDOCRINO
          <input name="RevisionSistema-endocrino" type="radio" id="endocrino-1" />
          <label for="endocrino-1"></label>
          <input name="RevisionSistema-endocrino" type="radio" id="endocrino-2" />
          <label for="endocrino-2"></label>
        </p>
        <p>
          10.- HEMO LINAFATICO
          <input name="RevisionSistema-hemoLimafatico" type="radio" id="hemoLimafatico-1" />
          <label for="hemoLimafatico-1"></label>
          <input name="RevisionSistema-hemoLimafatico" type="radio" id="hemoLimafatico-2" />
          <label for="hemoLimafatico-2"></label>
        </p>
        <p>
          11.- NERVIOS
          <input name="RevisionSistema-nervios" type="radio" id="nervios-1" />
          <label for="nervios-1"></label>
          <input name="RevisionSistema-nervios" type="radio" id="nervios-2" />
          <label for="nervios-2"></label>
        </p>
      </li>
      <li class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.revisionSistema' class="materialize-textarea" placeholder="Describir anotando el numero de la patologia"></textarea>
      </li>
    </ul>

    <ul class="AntecedentesPersonales">
      <li class="RevisionSistema-title">4 Antecedentes Personales
        <p>Con patologia. Describir anotando el numero, Sin patologia. No Describir</p>
      </li>
      <li class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title">Alertas de riesgo</p>
        <div>
          <p>
            <input name="AntecedentesPersonales" type="radio" id="caida" class="alertaRiesgo" value="caida" />
            <label for="caida">1.- CAIDA</label>
          </p>
          <p>
            <input name="AntecedentesPersonales" type="radio" id="dismovilidad" class="alertaRiesgo" value="dismovilidad" />
            <label for="dismovilidad">2.- DISMOVILIDAD</label>
          </p>
          <p>
            <input name="AntecedentesPersonales" type="radio" id="perdidaPeso" class="alertaRiesgo" value="perdidaPeso" />
            <label for="perdidaPeso">3.- PERDIDA DE PESO</label>
          </p>
          <p>
            <input name="AntecedentesPersonales" type="radio" id="astenia" class="alertaRiesgo" value="astenia" />
            <label for="astenia">4.- ASTENIA</label>
          </p>
          <p>
            <input name="AntecedentesPersonales" type="radio" id="desorientacion" class="alertaRiesgo" value="desorientacion" />
            <label for="desorientacion">5.- DESORIENTACION</label>
          </p>
          <p>
            <input name="AntecedentesPersonales" type="radio" id="alteracionConportamiento" class="alertaRiesgo" value="alteracionConportamiento" />
            <label for="alteracionConportamiento">6.- ALTERACION DEL COPORTAMIENTO</label>
          </p>
        </div>
      </li>
      <li class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title">Generales</p>
        <div>
          <p>
             1.- INMUNIZACIONES
            <input name="inmunizaciones" type="radio" id="inmunizaciones-1" />
            <label for="inmunizaciones-1"></label>
            <input name="inmunizaciones" type="radio" id="inmunizaciones-2" />
            <label for="inmunizaciones-2"></label>
          </p>
          <p>
            2.- HIGIENE GENERAL
            <input name="higieneGeneral" type="radio" id="higieneGeneral-1" />
            <label for="higieneGeneral-1"></label>
            <input name="higieneGeneral" type="radio" id="higieneGeneral-2" />
            <label for="higieneGeneral-2"></label>
          </p>
          <p>
            3.- HIGIENE ORAL
            <input name="higieneOral" type="radio" id="higieneOral-1" />
            <label for="higieneOral-1"></label>
            <input name="higieneOral" type="radio" id="higieneOral-2" />
            <label for="higieneOral-2"></label>
          </p>
          <p>
            4.- EJERCICIO
            <input name="ejercicios" type="radio" id="ejercicios-1" />
            <label for="ejercicios-1"></label>
            <input name="ejercicios" type="radio" id="ejercicios-2" />
            <label for="ejercicios-2"></label>
          </p>
          <p>
            5.- ALIMENTACION
            <input name="alimentacion" type="radio" id="alimentacion-1" />
            <label for="alimentacion-1"></label>
            <input name="alimentacion" type="radio" id="alimentacion-2" />
            <label for="alimentacion-2"></label>
          </p>
          <p>
            6.- ACTIVIDAD RECREATIVA
            <input name="actividadRecreativa" type="radio" id="actividadRecreativa-1" />
            <label for="actividadRecreativa-1"></label>
            <input name="actividadRecreativa" type="radio" id="actividadRecreativa-2" />
            <label for="actividadRecreativa-2"></label>
          </p>

        </div>
      </li>
      <li class="AntecedentesPersonales-item">
        <div>
          <p>
            7.- CONTROLES DE SALUD
            <input name="controlesSalud" type="radio" id="controlesSalud-1" />
            <label for="controlesSalud-1"></label>
            <input name="controlesSalud" type="radio" id="controlesSalud-2" />
            <label for="controlesSalud-2"></label>
          </p>
          <p>
            8.- ALERGIAS
            <input name="alergias" type="radio" id="alergias-1" />
            <label for="alergias-1"></label>
            <input name="alergias" type="radio" id="alergias-2" />
            <label for="alergias-2"></label>
          </p>
          <p>
            9.- OTROS
            <input name="otros" type="radio" id="otros-1" />
            <label for="otros-1"></label>
            <input name="otros" type="radio" id="otros-2" />
            <label for="otros-2"></label>
          </p>

        </div>
      </li>
      <li class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title">Habitos Nocivos</p>
        <div>
          <p>
            <input name="AntecedentesPersonales-nacivos" type="radio"
              id="tabaquismo-nacivos" value="tabaquismo"
              class="habitosNocivos" />
            <label for="tabaquismo-nacivos">1.- TABAQUISMO</label>
          </p>
          <p>
            <input name="AntecedentesPersonales-nacivos" type="radio"
              id="alcoholismo-nacivos" value="alcoholismo"
              class="habitosNocivos" />
            <label for="alcoholismo-nacivos">2.- ALCOHOLISMO</label>
          </p>
          <p>
            <input name="AntecedentesPersonales-nacivos" type="radio"
              id="addiciones-nacivos" value="addiciones"
              class="habitosNocivos" />
            <label for="addiciones-nacivos">3.- ADDICIONES</label>
          </p>
          <p>
            <input name="AntecedentesPersonales-nacivos" type="radio"
              id="otroHabito-nacivos" value="otroHabito"
              class="habitosNocivos" />
            <label for="otroHabito-nacivos">4.- OTRO HABITO</label>
          </p>
        </div>
      </li>
      <li class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.antecedentePersonales' class="materialize-textarea"
         placeholder="Describir anotando el numero de la patologia"></textarea>
      </li>

      <li class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title" style="width: 14%;">CLINICO QUIRÙRGICOS</p>
        <div>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="demartoLogico"
              value="demartoLogico" class="clinicoQuirurgicos" />
            <label for="demartoLogico">1.- DEMARTO-LÒGICOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="visuales" value="visuales" class="clinicoQuirurgicos" />
            <label for="visuales">2.- VISUALES</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="otorrino" value="otorrino" class="clinicoQuirurgicos" />
            <label for="otorrino">3.- OTORRINO</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="estomatoLogicos" value="estomatoLogicos" class="clinicoQuirurgicos" />
            <label for="estomatoLogicos">4.- ESTOMATO-LOGICOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="endocrinos" value="endocrinos" class="clinicoQuirurgicos" />
            <label for="endocrinos">5.- ENDOCRINOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="cardioVascular" value="cardioVascular" class="clinicoQuirurgicos" />
            <label for="cardioVascular">6.- CARDIO VASCULAR</label>
          </p>
        </div>
      </li>

      <li class="AntecedentesPersonales-item no-boder--bottom">
        <div style="width: 100%;">
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="respiratorio" value="respiratorio" class="clinicoQuirurgicos" />
            <label for="respiratorio">7.- RESPIRATORIO</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="digestivos" value="digestivos" class="clinicoQuirurgicos" />
            <label for="digestivos">8.- DIGESTIVOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="neurologicos" value="neurologicos" class="clinicoQuirurgicos" />
            <label for="neurologicos">9.- NEUROLOGICOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="urologicos" value="urologicos" class="clinicoQuirurgicos" />
            <label for="urologicos">10.- UROLOGICOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="hemoloinfaticos" value="hemoloinfaticos" class="clinicoQuirurgicos" />
            <label for="hemoloinfaticos">11.- HEMOLOINFATICOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="infecciosos" value="infecciosos" class="clinicoQuirurgicos" />
            <label for="infecciosos">12.- INFECCIOSOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="oncologicos" value="oncologicos" class="clinicoQuirurgicos" />
            <label for="oncologicos">13.- ONCOLÒGICOS</label>
          </p>
        </div>
      </li>

      <li class="AntecedentesPersonales-item no-boder--bottom">
        <div style="width: 100%;">
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="musculoEsqueletico" value="musculoEsqueletico" class="clinicoQuirurgicos" />
            <label for="musculoEsqueletico">14.- MUSCULO ESQUELÈTICOS</label>
          </p>
          <p>
            <input name="clinicoQuirurgicos" type="radio" id="psiquiatricos" value="psiquiatricos" class="clinicoQuirurgicos" />
            <label for="psiquiatricos">15.- PSIQUIÀTRICOS</label>
          </p>
        </div>
      </li>
      <li class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.antecedentesPersoanles2' class="materialize-textarea" placeholder="Describir anotando el numero de la patologia"></textarea>
      </li>
    </ul>

    <ul class="GinecosObstretricos">
      <li class="GinecosObstretricos-title">GINECO OBSTETRICOS</li>
      <li class="input-field">
        <input id="edad_menopausia" type="text" ng-model='data.edadMenopausia' />
        <label for="edad_menopausia">1.EDAD MENOPAUSIA</label>
      </li>
      <li class="input-field">
        <input id="edad_mamografia" type="text" ng-model='data.edadUltimaMamografia' />
        <label for="edad_mamografia">2.EDAD DE ULTIMA MAMOGRAFIA</label>
      </li>
      <li class="input-field">
        <input id="edad_citologia" type="text" ng-model='data.edadUltimaCitologia' />
        <label for="edad_citologia">3.EDAD DE ULTIMA CITOLOGIA</label>
      </li>
      <li class="input-field">
        <input id="edad_embarazos" type="text" ng-model='data.embarazos' />
        <label for="edad_embarazos">4.EMBARAZOS</label>
      </li>
      <li class="input-field">
        <input id="edad_partos" type="text" ng-model='data.partos' />
        <label for="edad_partos">5. PARTOS</label>
      </li>
      <li class="input-field">
        <input id="edad_cesareas" type="text" ng-model='data.cesareas' />
        <label for="edad_cesareas">6. CESÀREAS</label>
      </li>
      <li class="input-field">
        <input id="edad_terapiaHormonal" type="text" ng-model='data.terapiaHormonal' />
        <label for="edad_terapiaHormonal">7.TERAPIA HORMONAL</label>
      </li>
    </ul>
    <div class="input-field s-100">
      <textarea id="motivo-consulta" ng-model='data.ginecoObstretricos' class="materialize-textarea" placeholder="Describir anotando el numero de la patologia"></textarea>
    </div>

    <ul class="GinecosObstretricos">
      <li class="GinecosObstretricos-title">ANDROLÒGICOS</li>
      <li class="input-field">
        <input id="edad_antigenoProstatico" type="text" ng-model='data.edadUltimoProstatico' />
        <label for="edad_antigenoProstatico">1. EDAD ULTIMO ANTÌGENO PROSTÀTICO</label>
      </li>
      <li class="input-field">
        <input id="terapiaHormonal" type="text" ng-model='data.terapia' />
        <label for="terapiaHormonal">2. TERAPIA HORMONAL</label>
      </li>
    </ul>

    <ul class="farcologicos">
      <li class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title" style="width: 14%;">FARCOLÒGICOS</p>
        <div>
          <p>
            <input name="farcologicos" type="radio" id="aines" value="aines" class="farcologicos" />
            <label for="aines">1.- AINES</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="analgesicos" value="analgesicos" class="farcologicos" />
            <label for="analgesicos">2.- ANALGESICOS</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="anti_diabetis" value="anti_diabetis" class="farcologicos" />
            <label for="anti_diabetis">3.- ANTI DIABETIS</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="anti_hipertensivo" value="anti_hipertensivo" class="farcologicos" />
            <label for="anti_hipertensivo">4.- ANTI HIPERTENSIVO</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="anti_coagulantes" value="anti_coagulantes" class="farcologicos" />
            <label for="anti_coagulantes">5.-  ANTI COAGULANTES</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="psico-farmacos" value="farmacos" class="farcologicos" />
            <label for="psico-farmacos">6.- PSICO FÀRMACOS</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="antibioticos" value="antibioticos" class="farcologicos" />
            <label for="antibioticos">7.- ANTIBIOTICOS</label>
          </p>
          <p>
            <input name="farcologicos" type="radio" id="otros" value="otros" class="farcologicos" />
            <label for="otros">8.- OTROS</label>
          </p>
        </div>
      </li>
      <div class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.farcologicos' class="materialize-textarea" placeholder="Describir anotando el numero de la patologia"></textarea>
      </div>
    </ul>
  </div>
  <div id="hoja2">

    <ul class="AntecedentesPersonales AntecedentesFamiliaresSociales">
      <li class="RevisionSistema-title">5 Antecedentes Familiares Y sociales
        <p>Con patologia. Describir anotando el numero, Sin patologia. No Describir</p>
      </li>

      <li class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title">Generales</p>
        <div>
          <p>
            1.- CARDIOPATÌAS
            <input name="cardiopatia" type="radio" id="cardiopatia-1" />
            <label for="cardiopatia-1"></label>
            <input name="cardiopatia" type="radio" id="cardiopatia-2" />
            <label for="cardiopatia-2"></label>
          </p>
          <p>
            2.- DIABETIS
            <input name="diabetis" type="radio" id="diabetis-1" />
            <label for="diabetis-1"></label>
            <input name="diabetis" type="radio" id="diabetis-2" />
            <label for="diabetis-2"></label>
          </p>
          <p>
            3.- HIPERTENCION ARTESANAL
            <input name="hipertensionArtesanal" type="radio" id="hipertensionArtesanal-1" />
            <label for="hipertensionArtesanal-1"></label>
            <input name="hipertensionArtesanal" type="radio" id="hipertensionArtesanal-2" />
            <label for="hipertensionArtesanal-2"></label>
          </p>
          <p>
            4.- NEOPLASIA
            <input name="neoplasia" type="radio" id="neoplasia-1" />
            <label for="neoplasia-1"></label>
            <input name="neoplasia" type="radio" id="neoplasia-2" />
            <label for="neoplasia-2"></label>
          </p>
          <p>
            5.- ALZHEIMER
            <input name="alzherimer" type="radio" id="alzherimer-1" />
            <label for="alzherimer-1"></label>
            <input name="alzherimer" type="radio" id="alzherimer-2" />
            <label for="alzherimer-2"></label>
          </p>
          <p>
            6.- PARKINSON
            <input name="parkison" type="radio" id="parkison-1" />
            <label for="parkison-1"></label>
            <input name="parkison" type="radio" id="parkison-2" />
            <label for="parkison-2"></label>
          </p>
          <p>
            7.- TUBERCULOSIS
            <input name="tuberculosis" type="radio" id="tuberculosis-1" />
            <label for="tuberculosis-1"></label>
            <input name="tuberculosis" type="radio" id="tuberculosis-2" />
            <label for="tuberculosis-2"></label>
          </p>

        </div>
      </li>
      <li class="AntecedentesPersonales-item">
        <div>
          <p>
            8.- VIOLENCIA INTRAFAMILIAR
            <input name="violenciaIntrafamiliar" type="radio" id="violenciaIntrafamiliar-1" />
            <label for="violenciaIntrafamiliar-1"></label>
            <input name="violenciaIntrafamiliar" type="radio" id="violenciaIntrafamiliar-2" />
            <label for="violenciaIntrafamiliar-2"></label>
          </p>
          <p>
            8.- SINDROME DEL CUIDADOR
            <input name="sindromeCuidador" type="radio" id="sindromeCuidador-1" />
            <label for="sindromeCuidador-1"></label>
            <input name="sindromeCuidador" type="radio" id="sindromeCuidador-2" />
            <label for="sindromeCuidador-2"></label>
          </p>
          <p>
            9.- OTROS
            <input name="otrosFamiliares" type="radio" id="otrosFamiliares-1" />
            <label for="otrosFamiliares-1"></label>
            <input name="otrosFamiliares" type="radio" id="otrosFamiliares-2" />
            <label for="otrosFamiliares-2"></label>
          </p>

        </div>
      </li>
    </ul>

    <article class="Signos">
      <p class="RevisionSistema-title" style="margin:0">6 SIGNOS VITALES, ANTROPOMETRIA Y TAMIZAJE</p>
      <ul>
        <li class="input-field">
          <input id="parterialAcostado" type="text" ng-model='signos.hgc_pracost_sigvit' />
          <label for="parterialAcostado">P. ARTERIAL ACOSTADO</label>
        </li>
        <li class="input-field">
          <input id="parterialSentada" type="text" ng-model='signos.hgc_prsent_sigvit' />
          <label for="parterialSentada">P. ARTERIAL SENTADO</label>
        </li>
        <li class="input-field">
          <input id="temperatura" type="text" ng-model='signos.hgc_temp_sigvit' />
          <label for="temperatura">TEMPERATURA ºO</label>
        </li>
        <li class="input-field">
          <input id="pulso7min" type="text" ng-model='signos.hgc_puls_sigvit' />
          <label for="pulso7min">PULSO 7 min</label>
        </li>
        <li class="input-field">
          <input id="frecuencia" type="text" ng-model='signos.hgc_fre_sigvit' />
          <label for="frecuencia">FRECUENCIA RESPIR/min</label>
        </li>
        <li class="input-field">
          <input id="peso" type="text" ng-model='signos.hgc_peso_sigvit' />
          <label for="peso">Peso Kg</label>
        </li>
        <li class="input-field">
          <input id="talla" type="text" ng-model='signos.hgc_talla_sigvit' />
          <label for="talla">Talla /cm</label>
        </li>
        <li class="input-field">
          <input id="imc" type="text" ng-model='signos.hgc_imc_sigvit' />
          <label for="imc">IMC</label>
        </li>
        <li class="input-field">
          <input id="perimetroCintura" type="text" ng-model='signos.hgc_percint_sigvit' />
          <label for="perimetroCintura">PERIMETRO CINTURA</label>
        </li>
        <li class="input-field">
          <input id="perimetroCadera" type="text" ng-model='signos.hgc_percad_sigvit' />
          <label for="perimetroCadera">PERIMETRO CADERA</label>
        </li>
        <li class="input-field">
          <input id="perimetroPantorrilla" type="text" ng-model='signos.hgc_perpan_sigvit' />
          <label for="perimetroPantorrilla">PERIMETRO PANTORRILLA</label>
        </li>
        <li class="input-field">
          <input id="responsables" type="text" ng-model='signos.hgc_resp_sigvit' />
          <label for="responsables">RESPONSABLES (siglas)</label>
        </li>

      </ul>
      <div class="AntecedentesPersonales-item no-boder--bottom">
        <p class="AntecedentesPersonales-item--title"
          style="width: 10.5%;font-size: 14px;text-align: center;">TAMIZAJE PÀPIDO
        </p>
        <div class="TamizajeSignos">
          <p>
            <input class="checkedAdulto" value="dificultad visual" name="tamizajePapido" type="radio" id="dificultadVisual" />
            <label for="dificultadVisual">1.- DIFICULTAD VISUAL</label>
          </p>
          <p>
            <input class="checkedAdulto" value="dificultad auditiva" name="tamizajePapido" type="radio" id="dificultadAuditiva" />
            <label for="dificultadAuditiva">2.- DIFICULTAD AUDITIVA</label>
          </p>
          <p>
            <input class="checkedAdulto" value="levantate y anda mayor a 15a" name="tamizajePapido" type="radio" id="levantateAnda" />
            <label for="levantateAnda">3.- "LEVANTATE Y ANDA" MAYOR A 15a</label>
          </p>
          <p>
            <input class="checkedAdulto" value="perdida invt. de orina" name="tamizajePapido" type="radio" id="perdidaInvtOrina" />
            <label for="perdidaInvtOrina">4.- PÈRDIDA INVT. DE ORINA</label>
          </p>
          <p>
            <input class="checkedAdulto" value="perdida de memoria reciente" name="tamizajePapido" type="radio" id="perdidaMemoriaReciente" />
            <label for="perdidaMemoriaReciente">5.- PÈRDIDA DE MEMORIA RECIENTE</label>
          </p>
          <p>
            <input class="checkedAdulto" value="pierde peso mas de 4.5 kg. en 6 meses" name="tamizajePapido" type="radio" id="pierdePeso" />
            <label for="pierdePeso">6.- PIERDE PESO MAS DE 4.5 KG. EN 6 MESES</label>
          </p>
        </div>
      </div>

      <div class="AntecedentesPersonales-item no-boder--bottom">
        <div class="TamizajeSignos" style="width: 100%;">
          <p>
            <input name="tamizajePapido" type="radio" id="sienteTristeDeprimido" value="sienteTristeDeprimido" class="tamizajePapido" />
            <label for="sienteTristeDeprimido">7.- SE SIENTE TRISTE O DEPRIMIDO</label>
          </p>
          <p>
            <input name="tamizajePapido" type="radio" id="puedeBanarSolo" value="puedeBanarSolo" class="tamizajePapido" />
            <label for="puedeBanarSolo">8.- PUEDE BAÑARSE SOLO</label>
          </p>
          <p>
            <input name="tamizajePapido" type="radio" id="saleComprasSolo" value="saleComprasSolo" class="tamizajePapido" />
            <label for="saleComprasSolo">9.- SALE DE COMPRAS SOLOS</label>
          </p>
          <p>
            <input name="tamizajePapido" type="radio" id="viveSola" value="viveSola" class="tamizajePapido" />
            <label for="viveSola">10.- VIVE SOLA</label>
          </p>
        </div>
      </div>
    </article>

    <article class="ExamenFisicoMayor">
      <p class="ExamenFisicoMayor-title">
        EXAMEN FÌSICOS
        <span>REGIONAL (1 - 14) SISTÈMICO (1-9)</span>
        <span>CON PATOLOGIA DESCRIBIR ANOTANDO EL NUMERO, SIN PATOLOGIANO DESCRIBIR</span>
      </p>
      <ul class="ExamenFisicoMayor-list">
        <li class="ExamenFisicoMayor-item">
          <p>
            1.- PIFI
            <input class="with-gap" name="pifi" type="radio" id="pifi-1" />
            <label for="pifi-1"></label>
            <input class="with-gap" name="pifi" type="radio" id="pifi-2" />
            <label for="pifi-2"></label>
          </p>
          <p>
            2.- CABEZA
            <input class="with-gap" name="cabeza" type="radio" id="cabeza-1" />
            <label for="cabeza-1"></label>
            <input class="with-gap" name="cabeza" type="radio" id="cabeza-2" />
            <label for="cabeza-2"></label>
          </p>
          <p>
            3.- OJOS
            <input class="with-gap" name="ojos" type="radio" id="ojos-1" />
            <label for="ojos-1"></label>
            <input class="with-gap" name="ojos" type="radio" id="ojos-2" />
            <label for="ojos-2"></label>
          </p>
          <p>
            4.- OÌDOS
            <input class="with-gap" name="oidos" type="radio" id="oidos-1" />
            <label for="oidos-1"></label>
            <input class="with-gap" name="oidos" type="radio" id="oidos-2" />
            <label for="oidos-2"></label>
          </p>
          <p>
            1.- ORG. DE LOS SENTIDOS
            <input class="with-gap" name="orgSentidos" type="radio" id="orgSentidos-1" />
            <label for="orgSentidos-1"></label>
            <input class="with-gap" name="orgSentidos" type="radio" id="orgSentidos-2" />
            <label for="orgSentidos-2"></label>
          </p>
          <p>
            2.- RESPIRATORIO
            <input class="with-gap" name="respiratorioMayor" type="radio" id="respiratorioMayor-1" />
            <label for="respiratorioMayor-1"></label>
            <input class="with-gap" name="respiratorioMayor" type="radio" id="respiratorioMayor-2" />
            <label for="respiratorioMayor-2"></label>
          </p>
          <p>
            3.- CARDIO VASCULAR
            <input class="with-gap" name="cardioVascularMayor" type="radio" id="cardioVascularMayor-1" />
            <label for="cardioVascularMayor-1"></label>
            <input class="with-gap" name="cardioVascularMayor" type="radio" id="cardioVascularMayor-2" />
            <label for="cardioVascularMayor-2"></label>
          </p>
        </li>

        <li class="ExamenFisicoMayor-item">
          <p>
            5.- BOCA
            <input class="with-gap" name="boca" type="radio" id="boca-1" />
            <label for="boca-1"></label>
            <input class="with-gap" name="boca" type="radio" id="boca-2" />
            <label for="boca-2"></label>
          </p>
          <p>
            6.- NARIZ
            <input class="with-gap" name="nariz" type="radio" id="nariz-1" />
            <label for="nariz-1"></label>
            <input class="with-gap" name="nariz" type="radio" id="nariz-2" />
            <label for="nariz-2"></label>
          </p>
          <p>
            7.- CUELLO
            <input class="with-gap" name="cuello" type="radio" id="cuello-1" />
            <label for="cuello-1"></label>
            <input class="with-gap" name="cuello" type="radio" id="cuello-2" />
            <label for="cuello-2"></label>
          </p>
          <p>
            8.- AXILA-MAMA
            <input class="with-gap" name="axilaMama" type="radio" id="axilaMama-1" />
            <label for="axilaMama-1"></label>
            <input class="with-gap" name="axilaMama" type="radio" id="axilaMama-2" />
            <label for="axilaMama-2"></label>
          </p>
          <p>
            4.- DIGESTIVO
            <input class="with-gap" name="digestivoMayor" type="radio" id="digestivoMayor-1" />
            <label for="digestivoMayor-1"></label>
            <input class="with-gap" name="digestivoMayor" type="radio" id="digestivoMayor-2" />
            <label for="digestivoMayor-2"></label>
          </p>
          <p>
            5.- GENITO URINARIO
            <input class="with-gap" name="genitoUrinario" type="radio" id="genitoUrinario-1" />
            <label for="genitoUrinario-1"></label>
            <input class="with-gap" name="genitoUrinario" type="radio" id="genitoUrinario-2" />
            <label for="genitoUrinario-2"></label>
          </p>
          <p>
            6.- MÙSCULO ESQUELETICO
            <input class="with-gap" name="musculoEsqueleticoMayor" type="radio" id="musculoEsqueleticoMayor-1" />
            <label for="musculoEsqueleticoMayor-1"></label>
            <input class="with-gap" name="musculoEsqueleticoMayor" type="radio" id="musculoEsqueleticoMayor-2" />
            <label for="musculoEsqueleticoMayor-2"></label>
          </p>
        </li>

        <li class="ExamenFisicoMayor-item">
          <p>
            9.- TORAX
            <input class="with-gap" name="torax" type="radio" id="torax-1" />
            <label for="torax-1"></label>
            <input class="with-gap" name="torax" type="radio" id="torax-2" />
            <label for="torax-2"></label>
          </p>
          <p>
            10.- ABDOMEN
            <input class="with-gap" name="abdomen" type="radio" id="abdomen-1" />
            <label for="abdomen-1"></label>
            <input class="with-gap" name="abdomen" type="radio" id="abdomen-2" />
            <label for="abdomen-2"></label>
          </p>
          <p>
            11.- COLUMNA
            <input class="with-gap" name="columna" type="radio" id="columna-1" />
            <label for="columna-1"></label>
            <input class="with-gap" name="columna" type="radio" id="columna-2" />
            <label for="columna-2"></label>
          </p>
          <p>
            12.- PERINÈ
            <input class="with-gap" name="perine" type="radio" id="perine-1" />
            <label for="perine-1"></label>
            <input class="with-gap" name="perine" type="radio" id="perine-2" />
            <label for="perine-2"></label>
          </p>
          <p>
            7.- ENDOCRINO
            <input class="with-gap" name="endocrinoMayor" type="radio" id="endocrinoMayor-1" />
            <label for="endocrinoMayor-1"></label>
            <input class="with-gap" name="endocrinoMayor" type="radio" id="endocrinoMayor-2" />
            <label for="endocrinoMayor-2"></label>
          </p>
          <p>
            8.- HEMO LINFÀTICO
            <input class="with-gap" name="hemoLinfatico" type="radio" id="hemoLinfatico-1" />
            <label for="hemoLinfatico-1"></label>
            <input class="with-gap" name="hemoLinfatico" type="radio" id="hemoLinfatico-2" />
            <label for="hemoLinfatico-2"></label>
          </p>
          <p>
            9.- NEUROLÒGICOS
            <input class="with-gap" name="neurologicos" type="radio" id="neurologicos-1" />
            <label for="neurologicos-1"></label>
            <input class="with-gap" name="neurologicos" type="radio" id="neurologicos-2" />
            <label for="neurologicos-2"></label>
          </p>
        </li>

        <li class="ExamenFisicoMayor-item">
          <p>
            13.- M. SUPERIORES
            <input class="with-gap" name="mSuperiores" type="radio" id="mSuperiores-1" />
            <label for="mSuperiores-1"></label>
            <input class="with-gap" name="mSuperiores" type="radio" id="mSuperiores-2" />
            <label for="mSuperiores-2"></label>
          </p>
          <p>
            14.- M. INFERIORES
            <input class="with-gap" name="mInferiores" type="radio" id="mInferiores-1" />
            <label for="mInferiores-1"></label>
            <input class="with-gap" name="mInferiores" type="radio" id="mInferiores-2" />
            <label for="mInferiores-2"></label>
          </p>

        </li>
      </ul>
      <div class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.examenFisico' class="materialize-textarea" placeholder="Describir anotando el numero de la patologia"></textarea>
      </div>
    </article>

    <section class="main-justify">
      <article class="s-100 l-70 cie-container" style="margin-top: 1rem">
        <table class="bordered striped highlight centered responsive-table cie-table">
          <thead>
            <tr>
              <th width="40%">10 DIAGNÓSTICOS / <span>CIE</span></th>
              <th width="20%">CIE</th>
              <th width="10%">PRE</th>
              <th width="10%">DEF</th>
              <th width="15%" style="font-size: 9px;">
                CLINICO, SINDROMICO, PSICOLOGICO FUNCIONAL, NUTRICIONAL
              </th>
            </tr>
          </thead>
          <tbody id="cie-table">
            <tr ng-repeat='cie in cie10'>
              <td id="cie-nombre{{$index+1}}" class="input-field">
                <input type="text" placeholder="Ingresa el nombre CIE 10"
                  class="u-noMargin filter-cie-nombre10"
                  ng-model='cie.name'
                  ng-keyup="cieGetName($event, cie)"
                />
              </td>
              <td class="input-field">
                <input type="text" maxlength="4" placeholder="Ingresa el codigo CIE 10"
                  class="u-noMargin filter-cie10"
                  ng-model='cie.cie'
                  ng-keyup="cieGet($event, cie)"
                />
              </td>
              <td id="cie-pre{{$index+1}}">
                <p ng-if='cie.isActive'>
                  <input class="with-gap" name="cie{{$index+1}}"
                    type="radio"
                    id="{{ cie.cie }}_{{ $index+1 }}-1"
                    ng-model='cie.check'
                    value="pre"
                  />
                  <label for="{{ cie.cie }}_{{ $index+1 }}-1"></label>
                </p>
              </td>
              <td id="cie-def{{$index+1}}">
                <p ng-if='cie.isActive'>
                  <input class="with-gap" name="cie{{$index+1}}"
                    type="radio"
                    id="{{ cie.cie }}_{{ $index+1 }}-2"
                    ng-model='cie.check'
                    value="def"
                  />
                  <label for="{{ cie.cie }}_{{ $index+1 }}-2"></label>
                </p>
              </td>
              <td id="cie-desc{{$index+1}}">
                <input placeholder="Ingrese" ng-model='cie.detalle' />
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="s-100 l-25 sindromeGeriatricos">
        <p class="sindromeGeriatricos-title">SINDROME GERIÀTRICOS</p>
        <ul>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="fragilidad" value="fragilidad"  />
            <label for="fragilidad">FRAGILIDAD</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="depresion" value="depresion" />
            <label for="depresion">DEPRESIÒN</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="delirio" value="delirio"  />
            <label for="delirio">DELIRIO</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="ulceraPorPresion" value="ulceraPorPresion" />
            <label for="ulceraPorPresion">ÙLCERAS POR PRESION</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="incontinencia" value="incontinencia" />
            <label for="incontinencia">INCONTINENCIA</label>
          </li>

        </ul>
        <ul>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="dismovilidadSindrome" value="dismovilidadSindrome" />
            <label for="dismovilidadSindrome">DISMOVILIDAD</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="caidaSindrome" value="caidaSindrome" />
            <label for="caidaSindrome">CAIDA</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="malNutricion" value="malNutricion" />
            <label for="malNutricion">MAL NUTRICIÒN</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="demencia" value="demencia" />
            <label for="demencia">DEMENCIA</label>
          </li>
          <li>
            <input class="with-gap" name="sindromeGeriatricos" class="sindromeGeriatricos"
              type="radio" id="iatrogenia" value="iatrogenia" />
            <label for="iatrogenia">IATROGENIA</label>
          </li>
        </ul>
      </article>
    </section>

    <article class="PruebasDiagnostico">
      <p class="PruebasDiagnostico--title">
        9 PRUEBAS DIAGNÓSTICOS
        <span>REGISTRAR LOS EXAMENES DE LABORATORIO Y ESPECIALES SOLICITADAS</span>
      </p>
      <div class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.pruebasDiagnostico' class="materialize-textarea" placeholder="Escribir las pruebas del diagnostico"></textarea>
      </div>
    </article>

    <article class="PruebasDiagnostico">
      <p class="PruebasDiagnostico--title">
        10 TRATAMIENTO
        <span>1.- FUNCIONAL, 2.- NUTRICIONAL, 3.- PSICOLOGICO, 4.- SOCIAL, 5.- EDUCATIVO, 6.- FARMACOLOGICO</span>
      </p>
      <div class="input-field s-100">
        <textarea id="motivo-consulta" ng-model='data.tratamiento' class="materialize-textarea" placeholder="Escribir las pruebas del diagnostico"></textarea>
      </div>
    </article>

    <div class="Footer">
      <p class="Footer-mesaje">
        <span>SNS-MSP / HCU-form.057 / 2010</span>
        <span>ATENCION AL ADULTO MAYOR (2)</span>
      </p>
    </div>
  </div>

  </article>
  <a class="btn-floating btn-large waves-effect waves-light green accent-3"
    style="position: fixed;bottom: 3rem;right: 2rem;"
    ng-click='handlePrintReport()'>
    <i class="material-icons">print</i>
  </a>
</section>
