<hgc-menu></hgc-menu>
<section class="workSpace">
	<h1 class="Title">Profesiones</h2>
	<div class="floating-add">
		<button class='btn-floating btn-large waves-effect waves-light primary' ng-click="handleShowForm()"><i class="material-icons">mode_edit</i></button>
	</div>
	<article class="tableContainer">
		<table class="bordered highlight centered responsive-table">
			<thead>
				<tr>
					<th width="10%">#</th>
					<th width="60%">Profesion</th>
					<th width="30%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profesion in profesiones">
					<td>{{ $index + 1 }}</td>
					<td>{{ profesion.hgc_desc_profe }}</td>
					<td>
						<button class='waves-effect waves-light btn primary' ng-click="get(profesion.hgc_codi_profe, profesion.hgc_desc_profe)">Editar</button>
						<button class='waves-effect waves-light btn danger' ng-click="delete(profesion.hgc_codi_profe)">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<div class="formContainer ed-item s-80 m-75 m-offset-5" ng-class="{ 'formContainer-active': showForm }">
		<article class="form ed-item s-100 m-75">
			<header>
			  <h3>Registrar profesion</h3>
			</header>
			<div class="form__input">
			  <label for="profesion">Ingresa el profesion</label>
			  <input id="profesion" type="text" placeholder='Ejemplo: Ingeniero' ng-model='data.profesion'>
			</div>
			<div class='main-distribute'>
			  <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
			  <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
			</div>
		</article>
	</div>
</section>
<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right', 'progress-bar': true}"></toaster-container>
