<hgc-menu></hgc-menu>
<section class="workSpace">
	<h1 class="Title">Etnias</h2>
	<div class="floating-add">
		<button class='btn-floating btn-large waves-effect waves-light primary' ng-click="handleShowForm()"><i class="material-icons">mode_edit</i></button>
	</div>
	<article class="tableContainer">
		<table class="bordered highlight centered responsive-table">
			<thead>
				<tr>
					<th width="10%">#</th>
					<th width="60%">Etnia</th>
					<th width="30%"></th>
				</tr>
			</thead>
			<tbody>
        <tr ng-if="etnias.length === 0">
          <td colspan="5">No hay etnias</td>
        </tr>
				<tr ng-repeat="etnia in etnias">
					<td>{{ $index + 1 }}</td>
					<td>{{ etnia.hgc_desc_etnia }}</td>
					<td>
						<button class='waves-effect waves-light btn primary' ng-click="get(etnia.hgc_codi_etnia, etnia.hgc_desc_etnia)">Editar</button>
						<button class='waves-effect waves-light btn danger' ng-click="delete(etnia.hgc_codi_etnia)">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<div class="formContainer ed-item s-80 m-75 m-offset-5" ng-class="{ 'formContainer-active': showForm }">
		<article class="form ed-item s-100 m-75">
			<header>
			  <h3>Registrar Etnia</h3>
			</header>
			<div class="form__input">
			  <label for="etnia">Ingresa la etnia</label>
			  <input id="etnia" type="text" placeholder='Ejemplo: Metizo' ng-model='data.etnia'>
			</div>
			<div class='main-distribute'>
			  <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
			  <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
			</div>
		</article>
	</div>
</section>
<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right', 'progress-bar': true}"></toaster-container>
