<hgc-menu-estadistica></hgc-menu-estadistica>
<section class="workSpace">
  <h1 class="Title">Turnos</h1>
  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="20%">Paciente</th>
          <th width="20%">Doctor</th>
          <th width="15%">Fecha</th>
          <th width="10%">Hora Inicio</th>
          <th width="10%">Hora Final</th>
          <th width="10%">Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="turnos.length === 0">
          <td colspan="7">No hay turnos</td>
        </tr>
        <tr ng-repeat="turno in turnos">
          <td>{{ $index + 1 }}</td>
          <td>{{ turno.paciente }}</td>
          <td>{{ turno.doctor }}</td>
          <td>{{ turno.hgc_fech_turno }}</td>
          <td>{{ turno.hgc_hini_turno }}</td>
          <td>{{ turno.hgc_fin_turno }}</td>
          <td>
            <button class="waves-effect waves-light btn primary"
              ng-click="handleActivar(turno.hgc_id_turno)" ><i class="material-icons">done_all</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
