.Establecimiento
  &-header,
  &-body
    display grid
    grid-template-columns 20% 19% 18% 9% 9% 25%
    padding-left 0
    margin 0
  &-header
    background-color #ccc
    border-top 1px solid #2f2f2f
    border-left 1px solid #2f2f2f
    border-right 1px solid #2f2f2f
    li
      text-align center
      display flex
      align-items center
      justify-content center
  &-body
    li
      border-top 1px solid #2f2f2f
      border-left 1px solid #2f2f2f
      border-bottom 1px solid #2f2f2f
      padding 10px 0
      &:last-child
        border-right 1px solid #2f2f2f

.header
  background: #212121;
  width: 100%;
  color: white !important;
  padding: 1px 1px 1px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-transform: uppercase;
  span
    margin-right 15px

.AntPersonalSenior
  &-list
    display flex
    &__item
      display flex
      P
        text-align center
        border 1px solid #ccc
        margin 0
        display: flex;
        justify-content: center;
        align-items: center;
.SignosVitales
  &-inputs
    display flex
  &-list
    margin 0
    li
      display: grid;
      margin: 0;
      grid-template-columns: repeat(2, 1fr);
    input
      margin 0 !important
    p
      margin 0
      display flex
      align-items center
  &-border
    border 1px solid #ccc !important

.EstadoGeneral
  display flex
  &-title
    width 14%
    list-style none
    text-decoration none
    border 1px solid #ccc
    text-align center
  &-list
    display flex
    justify-content space-around
    width 89%
    border-bottom 1px solid #ccc
    border-top 1px solid #ccc
    border-right 1px solid #ccc
    padding-right 12px
    p
      margin 0
.RevisionSistema
  &-title
    border-top 1px solid #cccccc
    border-left 1px solid #cccccc
    border-right 1px solid #cccccc
    font-weight bold
    border-right 1px solid #ccc
    font-weight bold
    padding 9px 9px
    display flex
    justify-content space-between
  &-item
    display flex
    border 1px solid #cccccc
    justify-content space-around
    p
      margin 0
      display flex
      align-items center
.RevisionSistema-title p
  margin 0
.AntecedentesPersonales
  &-item
    display flex
    p
      margin 0
    &--title
      width 10%
      border-top 1px solid #cccccc
      border-bottom 1px solid #cccccc
      border-left 1px solid #cccccc
    div
      display flex
      justify-content space-around
      width 91%
      border 1px solid #cccccc
      p
        font-size 12px
        display flex
        align-items center
.GinecosObstretricos
  display grid
  grid-template-columns repeat(8, 1fr)
  label
    font-size 9px
    margin-left 17px
  label.active
    font-size 9px !important
    margin-top 4px
  &-title
    font-size 11px
    border 1px solid #cccccc
    display flex
    justify-content center
    align-items center
  .input-field
    border-top 1px solid #cccccc
    border-bottom 1px solid #cccccc
    margin 0
    input
      width 85%
      display flex
      justify-content center
      margin 0 auto
  .input-field:last-child
    border-right 1px solid #cccccc
.farcologicos
  label
    font-size 11px !important
.Signos
  ul
    display grid
    grid-template-columns repeat(12, 1fr)
    border 1px solid #cccccc
    margin 0
  label
    font-size 9px
  label.active
    font-size 9px !important
  .input-field
    input
      width  90%
.TamizajeSignos
  label
    font-size 10px !important
.ExamenFisicoMayor
  border 1px solid #cccccc
  margin-top 0.5rem
  &-title
    margin 0
    padding-left 9px
    margin-top 4px
    font-weight bold
    color #424242
    border-bottom 1px solid #ccc
    display flex
    justify-content space-between
    padding-right 10px
    span
      font-weight normal
      font-size 12px
  &-list
    margin 0
  &-item
    display flex
    justify-content space-around
    align-items center
    border-bottom 1px solid #ccc
    p
      margin 0
      display flex

.sindromeGeriatricos
  border 1px solid #ccc
  margin-top 1rem
  display flex
  flex-wrap wrap
  justify-content space-around
  &-title
    text-align center
    border-bottom 1px solid #ccc
    margin 0
    width 100%
  label
    font-size 12px !important
.PruebasDiagnostico
  &--title
    display flex
    justify-content space-between
    font-weight bold
    border 1px solid #ccc
    padding 0 18px
    span
      font-weight normal
    
.Footer
  &-header
    li
      font-size 13px
  &-body
    li
      border 1px solid #ccc
      height 25px  
  &-header
  &-body
    display grid
    grid-template-columns repeat(6, 1fr)
    text-align center
  &-mesaje
    display flex
    justify-content space-between

.ExamenFisicoRegional
  &-title
    display grid
    grid-template-columns 26% 41% 22%
    justify-content space-between
    border 1px solid #212020
    background #ccc
    margin 0
  &-list
    margin 0
    display grid
    grid-template-columns repeat(6, 1fr)
  &--item
    display flex
    align-items center
    border 1px solid #ccc
    p
      margin 0

#formPlusAdultoMayor65
  display none
  background white
  box-shadow 0 1px 1.5px rgba(0,0,0,0.3)
  position fixed
  top 7rem
  left: 4%;
  width: 91%;
  padding: 11px;
  border-radius 4px
  z-index 11111111

.SignosAdultoMayor
  &-header
    h3
      margin 0
      color white
      text-align center
      font-size 30px
      padding 0 0 5px 0

.AdultoMayorSignos
  label
    font-size 9px !important