.months-diary
  display grid
  grid-template-columns 25% 25% 25% 25%
  &--mes
    background white
    display flex
    height 5em
    justify-content center
    align-items center
    box-shadow 0px 0px 1px rgba(0,0,0,0.5)
    font-weight bold
    text-transform uppercase
    color #585757
    font-size 2em
    cursor pointer

.mes__active
  transition all ease .3s
  animation-name mes_activo
  animation-duration 1s

@keyframes mes_activo {
  0%{
    transform scale(1)
  }
  50%{
    transform scale(2)
  }
  100%{
    transform scale(3)
  }
}

.days-moth
  background white
  box-shadow 0px 0px 1px rgba(0,0,0,0.5)
  padding 2em 1em

.titulo
  color #F44336
  font-weight bold
  text-transform uppercase
  font-size 2em
.agenda__item
  border-bottom 1px solid #d0d0d0
  background #f1746b
  color white
  text-align left
  padding-left 10px !important
  &:last-child
    border-bottom inherit
