.months-diary
  display grid
  grid-template-columns 25% 25% 25% 25%
  &--mes
    background white
    display flex
    height 5em
    justify-content center
    align-items center
    box-shadow 0px 0px 1px rgba(0,0,0,0.5)
    font-weight bold
    text-transform uppercase
    color #585757
    font-size 2em
    cursor pointer

.mes__active
  transition all ease .3s
  animation-name mes_activo
  animation-duration 1s

@keyframes mes_activo {
  0%{
    transform scale(1)
  }
  50%{
    transform scale(2)
  }
  100%{
    transform scale(3)
  }
}

.days-moth
  background white
  box-shadow 0px 0px 1px rgba(0,0,0,0.5)
  padding 2em 1em

.titulo
  color #F44336
  font-weight bold
  text-transform uppercase
  font-size 2em

.agenda-ocupado
  background danger
  color white
  cursor pointer
  transition all ease .3s
  transform scale(0.9)
  font-weight bold
  &:hover
    background primary
    box-shadow 0px 0px 25px rgba(90, 80, 80, 0.78) inset
  &:active
    transform scale(0.8)
#agenda__container
  display grid
  grid-template-columns 50% 50%
  grid-gap 1em

.agenda__item
  ul
    background danger
    color white
    box-shadow 1px 1px 6px rgba(0,0,0,0.5)
    li
      display grid
      grid-template-columns 50% 50%
      padding 2px 5px
      p
        margin 0
.agenda__title
  color #585757
  text-align center
  text-transform uppercase
  font-weight bold

#modalAgenda
  width 40%
