primary = #00bcd4
danger = #f1746b
rouse = #E91E63
naranja = #F44336
azul = #3F51B5
amarillo = #FF9800

nav
  box-shadow inherit !important
.danger
  background danger !important
  &:hover
    background rgba(danger, 0.8) !important
.primary
  background primary !important
.red
  background red
.rouse
  background rouse !important
.naranja
  background naranja !important
