primary = #00bcd4
danger = #f1746b
.danger
	background danger !important
	&:hover
		background rgba(danger, 0.8) !important

.primary
	background primary !important

nav
	box-shadow inherit !important
.red
	background red