color_plomo = #585757

.bold-input
  color #585757 !important
  font-weight bold
.u-border-right
  border-right 1px solid #828282
.grid-header
  display grid
  grid-template-columns 70% 30%
  grid-gap 10px
.grid-paciente
  display grid
  grid-template-columns 87% 13%
  grid-gap 10px

.form056-header-names
  border 1px solid #ccc
  &--head
  &--body
    display grid
    grid-template-columns repeat(4, 1fr)
    margin 0
    margin-left 1em
  &--head
    font-weight bold
.form056-header-establecimiento
  p
    border-left 1px solid #ccc
    border-right 1px solid #ccc
    border-top 1px solid #ccc
    &:nth-child(2)
      border-bottom 1px solid #ccc
.paciente-nacimiento
  p
    text-align center
    margin 1em 0
    color #585757
    font-size 12px
    font-weight bold
  ul
    display grid
    grid-template-columns repeat(3, 1fr)
    text-align center
    margin 0
    li
      border-top 1px solid #ccc
      &:first-child
        border-left 1px solid #ccc
      &:nth-child(even)
        border-right 1px solid #ccc
      &:nth-child(odd)
        border-right 1px solid #ccc
    &:last-child
      border-bottom 1px solid #ccc
  &--header
    color #585757
    font-weight bold

.container-code-pronvia
  display grid
  grid-template-columns 50% 20% 20% 20%
  align-items center
  grid-gap 10px
  label
  input
    font-size 11.5px
  p
    font-size 15px
.celda-code-container
  display grid
  grid-template-columns 27% 10% 10% 10% 10% 10% 10%
.celda-code
  border-top 1px solid #ccc
  border-left 1px solid #ccc
  border-bottom 1px solid #ccc
  height 22px
  width 24px
  &:last-child
    border-right 1px solid #ccc
.grid-cellphone
  display grid
  grid-template-columns 32% 59%
  align-items center

.container-grid-lugar
  display grid
  grid-template-columns 64% 25% 25%
  label
    font-size 12px
.u-companion
  display grid
  grid-template-columns 73% 30%
  border 1px solid #ccc
  margin-top 7px
.Informacion-consulta
  display grid
  grid-template-columns repeat(2,1fr)
  grid-gap 2px
  &-paciente
    width 100%
    display grid
    grid-template-columns 36% 36% 26%
    grid-template-rows 4em 0 0
    border 1px solid #ccc
    margin-top 7px
  &-companion
    width 98%
    margin-left 13px
    &--list
      display grid
      grid-template-columns repeat(4, 1fr)
    p
      text-align center
  &-fecha
    text-align center
    display grid
    grid-template-columns 24% 68%
    align-items end
    p
      text-transform uppercase
    &--boody
    &--header
      display grid
      margin 0
    &--header
      grid-template-columns repeat(3, 1fr)
    &--boody
      grid-template-columns repeat(6, 1fr)
      li
        border 1px solid #ccc
  &-edad
    text-align center
    display grid
    grid-template-columns 30% 80%
    align-items end
    p
      text-transform uppercase
    &--boody
    &--header
      display grid
      margin 0
    &--header
      grid-template-columns repeat(2, 1fr)
    &--boody
      grid-template-columns repeat(4, 1fr)
      li
        border 1px solid #ccc
        &:nth-child(2)
          margin-right 3px
.Motivo-consulta
  display grid
  grid-template-columns repeat(2, 1fr)
  grid-gap 20px
  &--title
    background hsl(0, 0%, 20%)
    padding 2px 10px
    display flex
    align-items center
    justify-content space-between
    color white
    a
      display flex
      color white
      margin 0
  &--self-list
    input
      margin 0 !important
  &--self-item
    display grid
    grid-template-columns 80% 20%
    overflow hidden
    margin 0
    align-items end
    grid-gap 15px

.consulta-cie--code
  height 27px
  width 88%
  margin 0
  border 1px solid #ccc
.motivo-add
  transition all ease .5s
  &:hover
    background hsl(0, 30%, 30%)
  &:active
    transform scale(0.9)
.Antecedente-personales
  &--grid
    display grid
    grid-template-columns repeat(13, 1fr)
  &--item
    border 1px solid #ccc
  &--name
    font-size 11px
    text-align center
    height 4.6em
  &--options
    margin-left 1em
    p
      margin 0
.Antecedente-familiares
  &--grid
    display grid
    grid-template-columns repeat(11, 1fr)
.no-check::before
  background yellow
.no-check-input:checked + label:after
  background-color #ffff00
  border 2px solid #ffff00
.no-check-input:checked + label:before
  background-color transparent
  border-right 2px solid #ffff00
  border-bottom 2px solid #ffff00
.Familia
  border 1px solid #828282
  &--title
  &-grid
    padding 0 10px
  &-name
    margin 0
  &-list
    display grid
    grid-template-columns 36% 70%
  &-options
    display grid
    grid-template-columns repeat(3, 1fr)
    align-items center
    p
      margin 0
  &-header
    display grid
    grid-template-columns repeat(4, 1fr)
    p
      text-align center
      margin 0
.Nivel-instruccion
  border 1px solid #828282
  &-title
    margin 0
    color #585757
    font-weight bold
    text-transform uppercase
    margin-bottom .5em
    text-align center
  &--item
    display flex
    justify-content: space-around
    p
      margin 0
    p:nth-child(2)
      order -2
  &--name
    width 55%
    text-align center
.grid-padres-madres
  display grid
  grid-template-columns repeat(2, 1fr)
  p
    font-weight bold
    color #585757
    margin 3.3px 0
.FamiliarVivienda-grid
  display grid
  grid-template-columns 20% 20% 40% 20%

.Ocupacion-instruccion
  border 1px solid #828282

.Percepcion-familiar
  border 1px solid #828282
  &--list
    display grid
    grid-template-columns repeat(4, 1fr)
    padding-bottom 3px
  &--item
    text-align center
.small-size
  font-size 11px
.paint-driagrama
  background #feff97
  height 21.3em
  width 100%
.ApgarFamiliar
  border-top 1px solid #828282
  border-bottom 1px solid #828282
  &-title
    text-align center
    margin 0
    @extend .bold-input
  &-item
    margin 0
.Familiar
  border 1px solid #828282
.FamilarObservacion
  &-title
    @extend .ApgarFamiliar-title
  &-text
    margin 0 !important
  &-field
    margin-top 0
.Vivienda
  border 1px solid #828282

.EnergiaElectrica
  display grid
  grid-template-columns 60% 40%
  align-items center
  border-bottom 1px solid #828282
  &-title
    margin 0
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)
.ServiciosBasicos
  @extend .EnergiaElectrica
  grid-template-columns 31% 69%
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)
  &-item
    font-size 12px
    text-align center
.Cuotas
    border-bottom 1px solid #828282

.Paper2
  display none

.EducacionPaper2
  display grid
  grid-template-columns repeat(8, 1fr)
  border 1px solid #828282
  &-title
    text-align center
    margin 0
    display block
.EducacionEstudia
  border-right 1px solid #828282
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)
    text-align center
    margin 0
  &-title
    text-align center
    margin 0
.NivelEstudia
.CursoGradoEstudia
  border-right 1px solid #828282

.DisercionEstudia
  &-grid
    display grid
    grid-template-columns 60% 40%
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)
    margin 0

.TrabajoPaper
  display grid
  grid-template-columns 24% 8% 8% 20% 10% 10% 10% 10%
  border 1px solid #828282
.TrabajoActividad
  &-header
    display grid
    grid-template-columns repeat(2, 1fr)
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.EdadInicioTrab
  &-head
    font-size 11px
    display block
    text-align center
  &-title
    font-size 12px
.TrabajoByHoras
  &-head
    height 4em
  &-title
    font-size 12px
  &-footer
    font-size 11px
    text-align center
    display inline-grid
    width 8em

.HorasTrabajo
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.RazonTrabajo
  &-item--list
    display grid
    grid-template-columns repeat(2, 1fr)

.TrabajoLegalizado-list
  display grid
  grid-template-columns repeat(3, 1fr)
  justify-content center

.VidaSocialAceptacion
  &-list
    display flex
    flex-wrap wrap
  &-item
    width 100%
.VidaSocial
  display grid
  grid-template-columns 20% 15% 15% 17% 33%
  border 1px solid #828282
  &-header
    display grid
    grid-template-columns repeat(2, 1fr)
  &-novio
    border-bottom 1px solid #585757
  &-novio
  &-amigos
    display grid
    grid-template-columns repeat(2, 1fr)
    align-items center
    &--list
      display grid
      grid-template-columns repeat(2, 1fr)

.ActividadGruapal
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.OtrasActividades-list
  display grid
  grid-template-columns repeat(4, 1fr)

.Habitos
  display grid
  grid-template-columns 17% 10% 10% 10% 8% 8% 9% 9% 8% 11%
  border 1px solid #585757
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.HabitosDreams-grid
  display grid
  grid-template-columns repeat(2, 1fr)

.OtroToxico
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.ConduceVehiculo
  &-grid
    display grid
    grid-template-columns repeat(2, 1fr)

.Ginecologia
  border 1px solid #585757
  display grid
  grid-template-columns 17% 13% 13% 12% 15% 15% 15%
  // grid-template-columns 20% 18% 10% 10% 13% 14% 15%
.MenarcaEspermarca
  &-grid
    margin-top 10px
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-gap 10px

.FechaUltilMenstruacion
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-gap 5px
  &-form
    grid-template-columns repeat(3, 1fr)
    display grid
    grid-gap 5px

.CiclosRegulares
  &-list
    display grid
    grid-template-columns repeat(3, 1fr)
.flujosPatologia
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.Sexualidad
  display grid
  grid-template-columns repeat(8, 1fr)
  border 1px solid #585757
  &-item__grid,
  &-list__menu
    display grid
    grid-template-columns repeat(2, 1fr)
  &-relsex__grid
    @extend .Sexualidad-list__menu
    grid-gap 1em
    padding-left 10px
  &-list__relsex
    display grid
    grid-template-columns repeat(1, 1fr)
  &-anticoncepcion
    display grid
    grid-template-columns repeat(2, 1fr)
    padding 10px
    text-align center
  &-list-three
    display grid
    grid-template-columns repeat(3, 1fr)
    text-align center
    margin 0

.InicioEdadSex
  &-check--list
    display grid
    grid-template-columns repeat(2, 1fr)
  &-grid
    @extend .InicioEdadSex-check--list
    grid-gap 10px

.Psicoemocional
  display grid
  grid-template-columns 12% 21% 23% 25% 15%
  border 1px solid color_plomo
  &-list
    margin 0
    display grid
    grid-template-columns repeat(2, 1fr)
.PsicoPrefen-list
  display grid
  grid-template-columns repeat(3, 1fr)

.Percepcion-list
  display grid
  grid-template-columns repeat(3, 1fr)
.PsicoPrefen
  label
    font-size 13px !important
.ExamenFisico
  border 1px solid color_plomo
  &-top
  &-bottom
    display grid
    &--item
      text-align center
      border-right 1px solid color_plomo
      &:last-child
        border-right none
  &-top
    grid-template-columns repeat(9, 1fr)
  &-bottom
    grid-template-columns repeat(9, 1fr)
  &-list
    display grid
    grid-template-columns repeat(2, 1fr)

.centilWrapper
  border-bottom 1px solid #585757
  padding 10px
  label
    margin-left 10px
.pielFaneras-list
  display grid
  grid-template-columns repeat(2, 1fr)
.ExamenFisico-bottom__fisic
  display grid
  grid-template-columns repeat(9, 1fr)
  border-top 1px solid #585757
  &--item
    text-align center
.tanner-list__grid
  display grid
  grid-template-columns repeat(3, 1fr)
  li
    font-size 13px
.response
  border 1px solid #585757
  width 74%
  display inline-block
.proximaVisit
  display inline-block
  width 23%
  a,
  input
    display inline-block
  input
    width 46% !important
.consulta-cie--code
  text-align center
