.form-select
  border 1px solid #666
  border-radius 3px
.menu-form
  color white
  background rgba(30, 136, 229, 0.8)
  padding .2em 1em
  border-bottom 1px solid #666
  .title
    font-weight bold
    text-align center
    border-bottom 1px solid #666
    &-no-border
      border-bottom inhiret
  &--list
    li
      display flex
      border-bottom 1px solid #666
      justify-content space-around
  &--action
    display flex
    justify-content space-between
.paging-container
  margin 10px 0
  div
    display grid
    grid-template-columns 40% 26% 40%
    justify-content center
    align-items center
    small
      text-align center

.header__form28
  display flex
  justify-content space-around
  div
    border 1px solid #6b6a6a
  label
    background #eee
    display block
    border-bottom 1px solid #6b6a6a
  input
    box-shadow none !important
    border 0 !important
    color black
    text-align center

.footer__form28
  display flex
  justify-content space-between
  padding 0 1em
  border-top 1.4px solid #6b6a6a
.form__tag
  background #eee
  padding .5em 1em
  display block
.form28__list
  border-bottom 1px solid #666
  display flex
  justify-content space-around
  align-items center

.atendidos-por__form
  border 1px solid #6b6a6a
  ul
    &:first-child
      background #6b6a6a
      margin 0
.atendidos__menu
  display flex
  justify-content space-around
  li
    &:first-child
      width 8em
      text-align center
.form__grid_nacido
  display grid
  grid-template-columns 48% 48%
  justify-content center

.form__grid_nacido_2
  display grid
  grid-template-columns 33% 33% 33%
  justify-content center
