.form-select
  border 1px solid #666
  border-radius 3px
.menu-form
  color white
  background rgba(30, 136, 229, 0.8)
  padding .2em 1em
  border-bottom 1px solid #666
  .title
    font-weight bold
    text-align center
    border-bottom 1px solid #666
    &-no-border
      border-bottom inhiret
  &--list
    li
      display flex
      border-bottom 1px solid #666
      justify-content space-around
  &--action
    display flex
    justify-content space-between
