#grafica-section
  display flex
  justify-content center
.grafica028A
  width 59%
  height 25em
  margin-bottom 2em
  background-image url(../img/curva-crecimiento-menor_2meses.jpg)
  background-size 100% 100%
  position relative
  img
    position absolute
    width 122%
    height 112%
    top -1em
  svg
    position absolute
    z-index 11111111
    width 84%
    height 101.6%
    left 2.3em
    top -0.1em
