#grafica-section
  overflow auto
  width 100%
  white-space nowrap
  scroll-snap-points-x repeat(100%)
  scroll-snap-type: mandatary
  .Grafica-wrapper
    display inline-block
    width 98%
    margin 1%
    line-heigth 18px

.grafica028A
.grafica028ALongitud
.grafica028APerimetro
  width 100%
  height 30em
  margin-bottom 2em
  background-size 100% 100%
  position relative
  img
    position absolute
    width 122%
    height 112%
    top -1em
  svg
    position absolute
    transform scaleY(-1)
    z-index 11
    width 83.2%
    height 86.78%
    left 7.4%
    top 1.2em
.grafica028APerimetro
  svg
    width 81.2%
    left 8.3%
.GraficaLongitud
  img
    height 41em
.GraficaHeader
  display grid
  grid-template-columns 78% 20%
  &-title
    margin 0
    text-align center
  &-message
    text-align center
  &-nino
    border-bottom 3px solid #0197d6
    color #0197d6
  &-nina
    color #e57eb5
    border-bottom 3px solid #e57eb5
  figure
    margin 0

.tooltip-svg
  z-index 111
  background white
  color black
  position absolute
  padding 1em 2em
  border-radius 1px
  box-shadow 0px 0px 1px rgba(0,0,0,0.5)
  transition all ease 1s
  display flex
  justify-content center
  align-items center
  &:after
    content ""
    border-right 1px solid transparent
    border-left 10px solid transparent
    position absolute
    bottom -1.9em
    left 1em
    transform rotate(11deg)
  &-Mujer
    border 3px solid #e47db4
    &:after
      border-top 27px solid #e47db4
  &-Hombre
    border 3px solid #0197d6
    &:after
      border-top 27px solid #0197d6

circle
  cursor pointer

.graphicForm28C
  &-wrapper
    overflow auto
    width 100%
    white-space nowrap
    scroll-snap-points-x repeat(100%)
    scroll-snap-type mandatary
  &-item
    display inline-block
    width 98%
    margin 1%
    line-heigth 18px
    position relative
    img
      width 100%
  &-title
    color #585757
    text-align center
#form28CPeso
#form28CIMC
#form28CCEFALICO
#form28CLongitud
  position absolute
  top 11.5%
  left 6.7%
  width 86.4%
  height 76.9%
  transform scaleY(-1)

#form28CLongitud
  top 11.5%
  left 5.3%
  width 87.5%
  height 79.1%

#form28CCEFALICO
  top 12%
  left 8%
  width 82.4%
  height 75.9%
#form28CIMC
  top 12.3%
  left 6.6%
  width 85.4%
  height 75.9%
.GraficaPeso
  position relative

.toaster
.toaster-imc
.toaster-cefalico
.toaster-longitud
.toaster-peso-mayor
.toaster-talla-mayor
.toaster-imc-mayor
  position absolute
  color white
  background hsl(120, 50%, 40%)
  padding .5em 1em
  display none
  z-index 10

// mayor 5 años hasta 9 años
.Peso28CMayor
.Talla28CMayor
.IMC28CMayor
  background rgba(black, .5)
  position absolute
  transform scaleY(-1)
  top 13.4%
  left 7%
  width 83.4%
  height 78.2%
.Talla28CMayor
  top 13.8%
  left 8%
  width 85.6%
  height 77.5%
.IMC28CMayor
  top 13.1%
  left 8.3%
  width 86.5%
  height 75.6%

@media (max-width: 412px)
  .GraficaHeader-title
    font-size 18px
    width 93%
  .GraficaHeader
    grid-template-columns 100%
  .GraficaHeader figure
    text-align center

@media (max-width: 320px)
  .GraficaHeader-title
    font-size 15px
