.velocidadCrecimiento__img
  width 100%
  height 60rem
.evolucionMaduracion__img
  width 100%
  height 26rem
.imc__img
  width 100%
  height 33rem

.grafica-container
  perspective 1000px
  width 100%
  height 77rem
  overflow hidden
  &__cambiar
    display flex
    justify-content flex-end
.graficaPaper
  position relative
  transition all ease .3s
  transform-style preserve-3d
  width 100%
  height 100%

  &-active
    transform rotateY(180deg)
    &__back
      backface-visibility visible
  &__article
    position relative
  &__front
    background white
  &__back
    background white
    transform rotateY(180deg)
    backface-visibility hidden
  &__front
  &__back
    position absolute
    width 100%
    height 100%
  &__title
    text-align center
    font-weight bold
  &__instructivo
    text-align center
  &__instrunctiones
    width 68%
    margin 0 auto
.percentiles-img
.talla-img
  width 90%
  height 48rem
  margin 0 auto
  display block
.grafica__adolecente
  text-transform uppercase
  font-weight bold
#graficaPaper-imc__svg
  position absolute
  top 3rem
  left 6.3rem
  width 81.5%
  height 65%
  transform scaleY(-1)
#pesoEdad056
  transform scaleY(-1)
  position absolute
  top 2.2rem
  left 13.5rem
  width 65%
  height 87.6%
#tallaEdad056
  transform scaleY(-1)
  position absolute
  top 0.9rem
  left 11.5rem
  width 68%
  height 82.3%
#Speed
  position absolute
  transform scaleY(-1)
  top 3rem
  left 6rem
  width 89%
  height 85.4%
