#grafica-section
  display flex
  justify-content center
  flex-wrap wrap
.grafica028A
  width 77%
  height 30em
  margin-bottom 2em
  background-size 100% 100%
  position relative
  img
    position absolute
    width 122%
    height 112%
    top -1em
  svg
    position absolute
    transform scaleY(-1)
    z-index 11
    width 86.2%
    height 86.78%
    left 7.4%
    top 1.2em
    background rgba(0,0,0,.1)

.GraficaHeader
  &-title
    margin 0
    color #0197d6
    border-bottom 3px solid #0197d6
    text-align center
.GraficaHeader-message
  text-align center
