.perfil-container
	background white
	border-radius 1px
	border 1px solid transparent
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.10)
	margin-top 2em
	display grid
	grid-template-columns 33% 62%
	grid-gap 1em
	justify-content center
	padding 1em 0
	position relative
	.floating-avatar
		position absolute !important
		right -2em
		top -1.5em
		label
			cursor pointer
	.perfil--avatar
		background #ef5350
		color white
		display flex
		justify-content center
		align-items center
		p
			margin 0
			font-size 5em
	.perfil-info
		display grid
		grid-template-columns 50% 50%
		justify-content space-around
		flex-wrap wrap
		grid-gap 1em
.title-password
	text-align center
	font-size 2em
	margin 0 0 .5em 0
	color #585757
	font-weight bold !important
	width 100%
	text-transform uppercase
#password-container
	width 30% !important

.password-footer
	display grid
	grid-template-columns 47% 47%
	grid-gap 1em
	justify-content center