.side-nav
  z-index 9999999999999 !important
.btn--flat
  background #4ab75c !important
  border solid #ccc
  color #fff
  display flex
  padding 4px 2rem
  align-items center
  justify-content center
  border-radius 6px
  margin-right 3rem
  transition all ease .3s
  i
    margin-right 4px
.btn--flat.cancel
  background-color #EF5350 !important

.receta
  background white
  box-shadow 0 1px 1.5px #a7a7a7, 0 0px 1.5px #a7a7a7
  border-radius 3px
  &-table
    margin 0 auto
    width 90%
    padding-bottom 1rem
  &-informativo
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-gap 1rem
    width 92%
    margin 0 auto
    padding 1rem 0

.header-receta
  text-align center
  padding-bottom 10px
  &--img
    width 422px
    height 162px
    margin 0 auto
  &--title,
  &--subtitle
    margin 0
    font-size 34px
    font-weight bold
    padding 0
    text-transform uppercase
    line-height 40px
    color #585757
.Form-medicine
  background white
  position fixed
  top 4rem
  left 3%
  width 95%
  box-shadow 0 1px 1.5px #a7a7a7, 0 0px 1.5px #a7a7a7
  border-radius 3px
  z-index 1111111111111
  display none
  &--title
    text-align center
    margin 0
    font-size 34px
    font-weight bold
    padding 0
    text-transform uppercase
    line-height 40px
    color #585757
    padding 1rem 0
  &--search
    border solid #ccc
    width 96%
    margin 0 auto
    display flex
    border-radius .5rem
    margin-bottom 1rem
    align-items center
    label
      margin-left 13px
    input
      flex-grow 1
      border none !important
      margin 0 !important
      margin-left 1rem !important
      box-shadow none !important
  &--table
    width 96%
    margin 0 auto
    margin-bottom 1rem
  &--actions
    display flex
    justify-content space-around
.form-solicitud
  width 80%
  margin 0 auto
  padding-bottom 2rem
  display grid
  grid-template-columns repeat(2, 1fr)
  grid-gap 0 12px
  div
    margin-top 1rem
.Form-medicine--table
  table
    overflow-x: auto;
    display: block;
  tr
    position relative
  th
    &:last-child
      background-color white
      position absolute
      right 3.5rem
      margin-top 46px
      padding 0
  td
    &:last-child
      padding 0
      background-color white
      width 8rem
      position absolute
      right 1.7rem
      margin-top 11px
    button
      margin 0 auto

.ellipsis
  margin 0
  margin-right 10px
  white-space nowrap
