.main-sidebar
  position fixed
  top 0
  bottom 0
  left 0
  width 21%
  background-color primary
  font-size 1rem
  text-align left
  color #fff
  overflow hidden
  z-index 5
.sidebar__menu
  display flex
  flex-flow: column nowrap;
  top 70px
  width 70px
  height calc(100vh - 70px)
  padding-bottom .3125rem
  float left
  background-color hsla(0,0%,100%,.1)
  .sidebar__menu_list
    padding-left 0
    list-style none
    a
      display: flex
      justify-content center
      flex-wrap wrap
      text-align center
      color white
      text-decoration none
      transition all ease .4s
      padding 1em 0
      i, span
        width 100%
.sidebar__settings
  background-color rgba(0,0,0,.15)
  box-shadow 0 0 15px rgba(0,0,0,.4)
  .content
    display flex
    margin 9px 12px 0px
  .image
    width 17em
    height 5em
    img
      margin-top 5px
      width 100%
      height 100%
  .user__name
    margin 0
    margin-left .5em
.user__state
  display block
  width 15px
  height 15px
  background-color #f6b13f
  border-radius 50%

.sidebar__content
  position relative
  width calc(100% - 70px)
  height calc(100vh - 70px)
  float left
  background red
.main-sidebar__inner
  position absolute
  top 6.9em
  left 4.4em
  width 100%
  height 100%
  list-style none
  padding-left 0
  li
    display flex
    a
      display grid
      grid-template-columns repeat(2, 1fr)
      width 75%
      transition all ease .3s
      &:hover
        background #00a3d9
  li:first-child
    margin-top 2em