@import 'ed-grid.styl'
@import 'material-icons.styl'
@import 'color.styl'
@import 'sidebar.styl'
@import 'workspace.styl'

body
  background-color white
  font-family: "Roboto", sans-serif
a
  text-decoration none !important
.container
  display flex
  justify-content flex-end
.button-collapse
  display block !important
