@import 'color.styl'
@import 'ed-grid.styl'
@import 'sidebar.styl'
@import 'workspace.styl'
@import 'material-icons.styl'

body
  background-color #eee
  font-family: "Roboto", sans-serif

.container
  display flex
  justify-content flex-end


