@import 'ed-grid.styl'
@import 'material-icons.styl'
@import 'color.styl'
@import 'sidebar.styl'
@import 'workspace.styl'
@import 'landing.styl'
@import 'form28.styl'

body
  background-color white
  font-family: "Roboto", sans-serif
a
  text-decoration none !important
.container
  display flex
  justify-content flex-end
.button-collapse
  display block !important
.full-height
  height 100vh
.no-margin
  margin 0 !important
.margin-top
  margin-top 1em