.img-boton
  img
    position absolute !important
    width 2.5em
    height 2.5em

.month-turno
  position absolute
  top 8em
  display none
  z-index 111
  .months-diary--mes
    font-size 1em

.month-turno
  background white
  padding 1.5em
  box-shadow 0px 1px 1.5px rgba(0,0,0,0.5)

.calendario-turno
  position absolute
  top 6em
  left 26em
  z-index 111
  width 40%
