.workSpace
  width 79%
  padding 1em

.form
  background white
  padding 0
  border-radius 3px
  box-shadow: 0px 1px 1.5px rgba(black, .1)
  header
    background #E57373
    text-align center
    color white
    padding 6px 0
    border-radius 3px 3px 0 0
    h3
      margin 0
.form__input
  padding 1em
  label
    color #929fae
    font-weight 500
    font-size 1em
  input
    width 100%
    border 2px solid #d8dde3
    outline none
    background-size 1rem
    color #6a7888
    font-size .875rem
    line-height 1.125rem
    padding .625rem 2.5rem .625rem .9375rem
    transition all .5s ease
    &:focus
      border 2px solid #929fae

.btn__flat
  background #59c3a5
  color white
  transition all ease .5s
  outline none
  box-shadow inset 0px -4px 0px rgba(0,0,0,0.15)
  border-radius 3px
  width 6.5em
  font-weight bold
  font-size 15px
  &:hover
    background #42b695
  &:active
    transform scale(0.9)