<ul id="dropdown1" class="dropdown-content">
  <li><a ui-sref="logout">Salir</a></li>
  <li class="divider"></li>
  <li><a ui-sref="perfil">Perfil</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper primary">
      <a href="#" data-activates="slide-out" class="button-collapse brand-logo">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a data-activates="dropdown1" class="dropdown-button"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="assets/img/office.jpg">
      </div>
      <a>
        <div ng-if="!user.isAvatar" class="circle-avatar">{{ user.avatar }}</div>
        <img ng-if="user.isAvatar" class="circle" src="media/avatar/{{ user.avatar }}">
      </a>
      <a><span class="white-text name">{{ user.name }}</span></a>
      <a><span class="white-text email">{{ user.username }}</span></a>
    </div>
  </li>

  <li><a ui-sref="admin">Inicio</a></li>
  <li><div class="divider"></div></li>

  <li><a ui-sref="perfil">Perfil</a></li>
  <li><div class="divider"></div></li>  

  <li><a ui-sref="turnos">Turnos</a></li>
  <li><a ui-sref="signosVitales">Signos Vitales</a></li>
  
  <li><a ui-sref="doctor">Doctor</a></li>
  <li><div class="divider"></div></li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Datos regionales<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a ui-sref="paises"><span>Paises</span></a></li>
            <li><a ui-sref="provincias"><span>provincias</span></a></li>
            <li><a ui-sref="cantones"><span>Cantones</span></a></li>
            <li><a ui-sref="parroquia"><span>Parroquia</span></a></li>
            <li><a ui-sref="barrios"><span>Barrios</span></a></li>
            <li><a ui-sref="etnias"><span>Etnias</span></a></li>
            <li><a ui-sref="generos"><span>Generos</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><div class="divider"></div></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Archivos<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a ui-sref="profesiones"><span>Profesiones</span></a></li>
            <li><a ui-sref="usuarios"><span>Usuarios</span></a></li>
            <li><a ui-sref="pacientes"><span>Pacientes</span></a></li>
            <li><a ui-sref="cie10"><span>Cie10</span></a></li>
            <li><a ui-sref="cie10-1"><span>Cie10 1</span></a></li>
            <li><a ui-sref="cie10-2"><span>Cie10 2</span></a></li>
            <li><a ui-sref="sitemasFiscos"><span>Sistemas fisicos</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><div class="divider"></div></li>
</ul>
