<ul id="dropdown1" class="dropdown-content">
  <li><a ui-sref="logout">Salir</a></li>
  <li class="divider"></li>
  <li><a ui-sref="perfil">Perfil</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper primary">
      <a href="#" data-activates="slide-out" class="button-collapse brand-logo">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <div ng-if="!user.isAvatar" class="circle-avatar circle-avatar--name">{{ user.avatar }}</div>
          <img ng-if="user.isAvatar" class="circle avatar-nav" width='58' ng-src="media/avatar/{{ user.avatar }}">
        </li>
        <li><a data-activates="dropdown1" class="dropdown-button"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="assets/img/office.jpg">
      </div>
      <a>
        <div ng-if="!user.isAvatar" class="circle-avatar">{{ user.avatar }}</div>
        <img ng-if="user.isAvatar" class="circle" ng-src="media/avatar/{{ user.avatar }}">
      </a>
      <a><span class="white-text name">{{ user.name }}</span></a>
      <a><span class="white-text email">{{ user.username }}</span></a>
    </div>
  </li>

  <li><a ui-sref="admin">Inicio</a></li>
  <li><div class="divider"></div></li>

  <li><a ui-sref="horariosDoctores">Horarios Doctores</a></li>
  <li><div class="divider"></div></li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Config
          <i class="material-icons">arrow_drop_down</i>
        </a>
        <div class="collapsible-body">
          <ul>
            <li><a ui-sref="empresa"><span>Empresa</span></a></li>
            <li><a ui-sref="perfil"><span>Perfil</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><div class="divider"></div></li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Datos regionales<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a ui-sref="procedimientos"><span>Procedimientos</span></a></li>
            <li><a ui-sref="paises"><span>Paises</span></a></li>
            <li><a ui-sref="provincias"><span>provincias</span></a></li>
            <li><a ui-sref="cantones"><span>Cantones</span></a></li>
            <li><a ui-sref="parroquia"><span>Parroquia</span></a></li>
            <li><a ui-sref="barrios"><span>Barrios</span></a></li>
            <li><a ui-sref="etnias"><span>Etnias</span></a></li>
            <li><a ui-sref="generos"><span>Generos</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li><div class="divider"></div></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Archivos<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a ui-sref="profesiones"><span>Profesiones</span></a></li>
            <li><a ui-sref="usuarios"><span>Usuarios</span></a></li>
            <li><a ui-sref="enfermeras"><span>Enfermeras</span></a></li>
            <li><a ui-sref="doctores"><span>Doctores</span></a></li>
            <li><a ui-sref="pasantes"><span>Pasantes</span></a></li>

            <li><a ui-sref="cie10"><span>Cie10</span></a></li>
            <li><a ui-sref="cie10-1"><span>Cie10 1</span></a></li>
            <li><a ui-sref="cie10-2"><span>Cie10 2</span></a></li>
            <li><a ui-sref="sitemasFiscos"><span>Sistemas fisicos</span></a></li>
            <li><a ui-sref="nivelInstitucion"><span>Nivel Institucion</span></a></li>
            <li><a ui-sref="tipologia"><span>Tipologia Institucion</span></a></li>
            <li><a ui-sref="institucion"><span>Institucion</span></a></li>
            <li><a ui-sref="establecimiento"><span>Establecimiento</span></a></li>
            <li><a ui-sref="servicios"><span>Servicios</span></a></li>
            <li><a ui-sref="especialidades"><span>Especialidades</span></a></li>
            <li><a ui-sref="actividad"><span>Actividad</span></a></li>
            <li><a ui-sref="horarios"><span>Horarios</span></a></li>
            <li><a ui-sref="consultorios"><span>Consultorios</span></a></li>
            <li><a ui-sref="cargos"><span>Cargos Enfermeras</span></a></li>
            <li><a ui-sref="perfilesEnfermeras"><span>Perfiles Enfermeras</span></a></li>
            <li><a ui-sref="distrito"><span>Distrito</span></a></li>
            <li><a ui-sref="circuito"><span>Circuito</span></a></li>
            <li><a ui-sref="zonas"><span>Zonas</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><div class="divider"></div></li>
  <li><a ui-sref="logout">Salir</a></li>
</ul>
