<div class="main-center cross-center full-height">
  <figure class="login-img">
    <img src="assets/img/logo_inspi.png" alt="Logo hospital">
  </figure>
  <article class="form ed-item s-100 m-35">
    <header>
      <h3>Inicar Sesión</h3>
    </header>
    <div class="form__input">
      <label for="email">Ingresa el e-mail</label>
      <input id="email" type="text" placeholder='pepito@gmail.com' ng-model='data.email'>
    </div>
    <div class="form__input">
      <label for="password">Ingresa su contraseña</label>
      <input id="password" type="password" placeholder='pepitopassword' ng-model='data.password'>
    </div>
    <div class='main-distribute'>
      <button class='waves-effect waves-light btn primary s-80' ng-click="handleSave()">Entrar</button>
    </div>
  </article>
</div>
<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right', 'progress-bar': true}"></toaster-container>
