<section class="main-distribute">
  <div class="input-field s-90 m-45">
    <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.motivo"></textarea>
    <label for="motivo-consulta">Motivo de Consulta *</label>
  </div>
  <div class="input-field s-90 m-45">
    <textarea id="motivo-consulta" class="materialize-textarea" ng-model="data.enfermedad"></textarea>
    <label for="motivo-consulta">Enfermedad o problema actual *</label>
  </div>

  <div class="s-90 m-45 form-select">
    <div class="menu-form">
      <h6 class="title">REVISIÒN ACTUAL DE ÒRGANOS Y SISTEMAS</h6>
      <div class="menu-form--action">
        <h6>CP &nbsp;&nbsp;&nbsp;&nbsp; SP</h6>
        <h6>CP=CON PATOLOGÌA (describir) SP=SIN PATOLOGÌA</h6>
      </div>
    </div>
    <ul class="menu-form--list">
      <li ng-repeat="sistema in sistemas">
        <p>{{ sistema.hgc_desc_sisfi }}</p>
        <p>
          <input name="sistema_{{ sistema.hgc_id_sisfi }}" id="cp_{{ sistema.hgc_id_sisfi }}"
            class="items_sistemas" value="0_{{sistema.hgc_id_sisfi}}" type="radio" />
          <!-- <label for="cp_{{ sistema.hgc_id_sisfi }}"></label> -->
        </p>
        <p>
          <input name="sistema_{{ sistema.hgc_id_sisfi }}" id="sp_{{ sistema.hgc_id_sisfi }}"
            class="items_sistemas" value="1_{{sistema.hgc_id_sisfi}}" type="radio" />
          <!-- <label for="sp_{{ sistema.hgc_id_sisfi }}"></label> -->
        </p>
        <div class="input-field s-90 l-55 no-margin">
          <input type="text" placeholder="Ingrese una observacion" id="input-system-{{ sistema.hgc_id_sisfi }}">
        </div>
      </li>
    </ul>
  </div>

  <div class="s-90 m-45 form-select">
    <div class="menu-form">
      <h6 class="title">EXAMEN FÌSICO</h6>
      <div class="menu-form--action">
        <h6>CP &nbsp;&nbsp;&nbsp;&nbsp; SP</h6>
        <h6>CP=CON PATOLOGÌA (describir) SP=SIN PATOLOGÌA</h6>
      </div>
    </div>
    <ul class="menu-form--list">
      <li ng-repeat="fisico in fisicos">
        <p>{{ fisico.hgc_desc_sisfi }}</p>
        <p>
          <input name="fisico_{{ fisico.hgc_id_sisfi }}" id="cpf_{{ fisico.hgc_id_sisfi }}"
            class="items_fisicico" value="0_{{fisico.hgc_id_sisfi}}" type="radio" />
          <!-- <label for="cpf_{{ fisico.hgc_id_sisfi }}"></label> -->
        </p>
        <p>
          <input name="fisico_{{ fisico.hgc_id_sisfi }}" id="spf_{{ fisico.hgc_id_sisfi }}"
            class="items_fisicico" value="1_{{fisico.hgc_id_sisfi}}" type="radio" />
          <!-- <label for="spf_{{ fisico.hgc_id_sisfi }}"></label> -->
        </p>
        <div class="input-field s-90 l-55 no-margin">
          <input type="text" placeholder="Ingrese una observacion"
            id="input-fisico-{{ fisico.hgc_id_sisfi }}">
        </div>
      </li>
    </ul>
  </div>
</section>
