<hgc-menu></hgc-menu>
<section class="workSpace">
  <h1 class="Title">Turnos</h1>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()">
      <i class="material-icons">mode_edit</i>
    </button>
  </div>
  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="20%">Paciente</th>
          <th width="20%">Doctor</th>
          <th width="15%">Fecha</th>
          <th width="10%">Hora Inicio</th>
          <th width="10%">Hora Final</th>
          <th width="10%">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="turno in turnos">
          <td>{{ $index + 1 }}</td>
          <td>{{ turno.paciente }}</td>
          <td>{{ turno.doctor }}</td>
          <td>{{ turno.hgc_fech_turno }}</td>
          <td>{{ turno.hgc_hini_turno }}</td>
          <td>{{ turno.hgc_fin_turno }}</td>
          <td class="center-flex"><span class="estado_{{ turno.hgc_esta_turno }}"></span></td>
        </tr>
      </tbody>
    </table>
  </article>

  <section class="formPlus ed-item s-80 m-75 m-offset-10">
    <article class="form ed-item s-100 m-75">
      <header>
        <h3>Registrar de Cie10</h3>
      </header>
      <article class="formPlus-content">
        <div class="form__input s-90 m-45">
          <label for="paciente">Paciente</label>
          <select id="paciente" ng-model="data.paciente" class="browser-default">
            <option value="" selected>Selecione el paciente</option>
            <option ng-repeat="paciente in pacientes" value="{{ paciente.hgc_histo_hcli }}">
              {{ paciente.paciente }}
            </option>
          </select>
        </div>
        <div class="form__input s-90 m-45">
          <label for="doctor">Doctor</label>
          <select id="doctor" class="browser-default">
            <option value="" selected>Selecione el doctor</option>
            <option ng-repeat="doc in doctor" value="{{ doc.hgc_codi_profe }}">
              {{ doc.hgc_nom_profe }} {{ doc.hgc_ape_profe }}
            </option>
          </select>
        </div>
        <div class="input-field s-90 m-45">
          <input id="fecha" type="date" class="datepicker">
          <label for="fecha">Ingresa la fecha de de consulta</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="horaInicio" type="text" class="timepicker">
          <label for="horaInicio">Ingresa la hora de de consulta</label>
        </div>
      </article>
      <div class='main-distribute'>
        <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
        <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
      </div>
    </article>
  </section>
</section>
