<hgc-menu-estadistica></hgc-menu-estadistica>
<section class="workSpace">
  <h1 class="Title">Turnos</h1>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()">
      <i class="material-icons">mode_edit</i>
    </button>
  </div>
  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="20%">Paciente</th>
          <th width="20%">Doctor</th>
          <th width="15%">Fecha</th>
          <th width="10%">Hora Inicio</th>
          <th width="10%">Hora Final</th>
          <th width="10%">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="turnos.length === 0">
          <td colspan="5">No hay turnos</td>
        </tr>
        <tr ng-repeat="turno in turnos">
          <td>{{ $index + 1 }}</td>
          <td>{{ turno.paciente }}</td>
          <td>{{ turno.doctor }}</td>
          <td>{{ turno.hgc_fech_turno }}</td>
          <td>{{ turno.hgc_hini_turno }}</td>
          <td>{{ turno.hgc_fin_turno }}</td>
          <td class="center-flex"><span class="estado_{{ turno.hgc_esta_turno }}"></span></td>
        </tr>
      </tbody>
    </table>
  </article>

  <section class="formPlus ed-item s-80 m-75 m-offset-10">
    <article class="form ed-item s-100 m-75">
      <header>
        <h3>Registrar de nuevo turno</h3>
      </header>
      <div class="formPlus-content">
        <button class="s-90 m-45 waves-effect waves-light btn primary" 
          data-target="pacienteModal">Paciente
        </button>

        <button class="s-90 m-45 waves-effect waves-light btn primary" 
          data-target="doctorModal">Doctor
        </button>

        <div class="input-field s-90 m-45">
          <input id="fecha" type="date" class="datepicker">
          <label for="fecha">Ingresa la fecha de de consulta</label>
        </div>

        <div class="input-field s-90 m-45">
          <input id="horaInicio" type="text" class="timepicker">
          <label for="horaInicio">Ingresa la hora de de consulta</label>
        </div>

        <div class='main-distribute'>
          <button class='waves-effect waves-light btn danger' style="margin-right: 1em;" 
            ng-click="handleCancel()">Cancelar
          </button>
          <button class='waves-effect waves-light btn primary' ng-click="handleSave()">
            Aceptar
          </button>
        </div>

      </div>
    </article>
  </section>
</section>

<div id="pacienteModal" class="modal">
  <div class="modal-content">
    <h4 class="title-modal">Pacientes</h4>
    <div class="input-field col s6">
      <input id="buscadorPaciente" type="text" ng-pagination-search="pacientes">
      <label for="buscadorPaciente">Buscador</label>
    </div>

    <table class="bordered highlight responsive-table centered">
      <thead>
        <tr>
          <th>#</th>
          <th>Historia clinica</th>
          <th>Cliente</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="pacientes.length === 0">
          <td colspan="4">No hay pacientes</td>
        </tr>
        <tr ng-pagination="paciente in pacientes" ng-pagination-size="2">
          <td>{{ $index + 1 }}</td>
          <td>{{ paciente.hgc_histo_hcli }}</td>
          <td>{{ paciente.paciente }}</td>
          <td>
            <button class="waves-effect waves-light btn primary modal-action modal-close"
              ng-click="handlePaciente(paciente.hgc_histo_hcli)">
              <i class="material-icons">done_all</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="pacientes"></ng-pagination-control>
    </div>
  </div>
  <div class="modal-footer main-distribute">
    <button class="modal-action modal-close waves-effect waves-light btn danger">
      Cancelar
    </button>
  </div>
</div>

<div id="doctorModal" class="modal">
  <div class="modal-content">
    <h4 class="title-modal">Doctor</h4>
    <div class="input-field col s6">
      <input id="buscadorDoctor" type="text" ng-pagination-search="doctor">
      <label for="buscadorDoctor">Buscador</label>
    </div>
    <table class="bordered highlight responsive-table centered">
      <thead>
        <tr>
          <th>#</th>
          <th>Cedula</th>
          <th>Doctor</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="doctor.length === 0">
          <td colspan="4">No hay doctor</td>
        </tr>
        <tr ng-pagination="doc in doctor" ng-pagination-size="2">
          <td>{{ $index + 1 }}</td>
          <td>{{ doc.hgc_codi_profe }}</td>
          <td>{{ doc.hgc_nom_profe }} {{ doc.hgc_ape_profe }}</td>
          <td>
            <button class="waves-effect waves-light btn primary modal-action modal-close"
              ng-click="handleDoctor(doc.hgc_codi_profe)">
              <i class="material-icons">done_all</i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="doctor"></ng-pagination-control>
    </div>
  </div>
  <div class="modal-footer main-distribute">
    <button class="modal-action modal-close waves-effect waves-light btn danger">
      Cancelar
    </button>
  </div>
</div>