<hgc-menu></hgc-menu>
<section class="workSpace">
  <h1 class="Title">Provincias</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()"><i class="material-icons">mode_edit</i>
    </button>
  </div>
  <article class="tableContainer" style="padding: .5em">
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="provincias">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="60%">Provincias</th>
          <th width="30%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="provincias.length === 0">
          <td colspan="5">No hay provincias</td>
        </tr>
        <tr ng-pagination="provincia in provincias" ng-pagination-size="5">
          <td>{{ $index + 1 }}</td>
          <td>{{ provincia.hgc_desc_provi }}</td>
          <td>
            <button class='waves-effect waves-light btn primary'
              ng-click="get(provincia.hgc_codi_provi, provincia.hgc_desc_provi, provincia.hgc_pais_provi)">Editar
            </button>
            <button class='waves-effect waves-light btn danger'
              ng-click="delete(provincia.hgc_codi_provi)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="provincias"></ng-pagination-control>
    </div>
  </article>

  <div class="formContainer ed-item s-80 m-75 m-offset-5"
    ng-class="{ 'formContainer-active': showForm }">
    <article class="form ed-item s-100 m-75">
      <header>
        <h3>Registrar de provincias</h3>
      </header>
      <div class="form__input">
        <label for="provincia">Ingresa la provincia</label>
        <input id="provincia" type="text" placeholder='Ejemplo: Santo Domingo' ng-model='data.provincia'>
      </div>
      <div class="form__input">
        <label for="pais">Seleciona el pais</label>
        <select id="pais" ng-model='data.pais' class='browser-default'>
          <option ng-repeat="pais in paises" value="{{ pais.hgc_codi_pais }}">{{ pais.hgc_desc_pais }}</option>
        </select>
      </div>
      <div class='main-distribute'>
        <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
        <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
      </div>
    </article>
  </div>
</section>
