<div ng-controller="AdultCtrlSignos">
  <header class="SignosAdultoMayor-header primary">
    <h3>Signos Vitales</h3>
  </header>
  <input type="hidden" id="idAdultoMayor65" />
  <article class="Signos AdultoMayorSignos" ng-controller='validForm'>
    <ul class="mayor65--input">
      <li class="input-field">
        <input id="mayor65-parterialAcostado" type="text" ng-model="data.presionAcostada" />
        <label for="mayor65-parterialAcostado">P. ARTERIAL ACOSTADO</label>
      </li>
      <li class="input-field">
        <input id="mayor65-parterialSentada" type="text" ng-model="data.presionSentado" />
        <label for="mayor65-parterialSentada">P. ARTERIAL SENTADO</label>
      </li>
      <li class="input-field">
        <input id="mayor65-temperatura" type="text" ng-model="data.temperatura"
          ng-keypress='ValidaSoloDecimal()'
        />
        <label for="mayor65-temperatura">TEMPERATURA ºC</label>
      </li>
      <li class="input-field">
        <input id="mayor65-pulso7min" type="text" ng-model="data.pulso7"
          ng-keypress='ValidaSoloNumeros()'
        />
        <label for="mayor65-pulso7min">PULSO 7 min</label>
      </li>
      <li class="input-field">
        <input id="mayor65-frecuencia" type="text" ng-model="data.frecuencia" ng-keypress='ValidaSoloNumeros()' />
        <label for="mayor65-frecuencia">FRECUENCIA RESPIR/min</label>
      </li>
      <li class="input-field">
        <input id="mayor65-peso" type="text" ng-model="data.peso"
          ng-keypress='ValidaSoloDecimal()'
          ng-change='calcularImc()'
        />
        <label for="mayor65-peso">Peso (Kg)</label>
      </li>
      <li class="input-field">
        <input id="mayor65-talla" type="text" ng-model="data.talla"
          ng-keypress='ValidaSoloDecimal()'
          ng-change='calcularImc()'
        />
        <label for="mayor65-talla">Talla /cm</label>
      </li>
      <li class="input-field">
        <input id="mayor65-imc" type="text" ng-model="data.imc" disabled />
        <label for="mayor65-imc" class="active">IMC</label>
      </li>
      <li class="input-field">
        <input id="mayor65-perimetroCintura" type="text" ng-model="data.perimetroCintura"
        ng-keypress='ValidaSoloDecimal()' />
        <label for="mayor65-perimetroCintura">PERIMETRO CINTURA (cm)</label>
      </li>
      <li class="input-field">
        <input id="mayor65-perimetroCadera" type="text" ng-model="data.perimetroCadera"
        ng-keypress='ValidaSoloDecimal()'/>
        <label for="mayor65-perimetroCadera">PERIMETRO CADERA (cm)</label>
      </li>
      <li class="input-field">
        <input id="mayor65-perimetroPantorrilla" type="text" ng-model="data.perimetroPantorrilla"
        ng-keypress='ValidaSoloDecimal()'/>
        <label for="mayor65-perimetroPantorrilla">PERIMETRO PANTORRILLA (cm)</label>
      </li>
      <li class="input-field">
        <input id="mayor65-responsables" type="text" ng-model="data.responsables" maxlength="8" />
        <label for="mayor65-responsables">RESPONSABLES (siglas)</label>
      </li>
    </ul>
    <div class="AntecedentesPersonales-item no-boder--bottom">
      <p class="AntecedentesPersonales-item--title"
        style="width: 10.5%;font-size: 14px;text-align: center;">TAMIZAJE PÀPIDO
      </p>
      <div class="TamizajeSignos">
        <p>
          <input class="checkedAdulto" value="dificultad visual" name="tamizajePapido" type="radio" id="dificultadVisual" />
          <label for="dificultadVisual">1.- DIFICULTAD VISUAL</label>
        </p>
        <p>
          <input class="checkedAdulto" value="dificultad auditiva" name="tamizajePapido" type="radio" id="dificultadAuditiva" />
          <label for="dificultadAuditiva">2.- DIFICULTAD AUDITIVA</label>
        </p>
        <p>
          <input class="checkedAdulto" value="levantate y anda mayor a 15a" name="tamizajePapido" type="radio" id="levantateAnda" />
          <label for="levantateAnda">3.- "LEVANTATE Y ANDA" MAYOR A 15a</label>
        </p>
        <p>
          <input class="checkedAdulto" value="perdida invt. de orina" name="tamizajePapido" type="radio" id="perdidaInvtOrina" />
          <label for="perdidaInvtOrina">4.- PÈRDIDA INVT. DE ORINA</label>
        </p>
        <p>
          <input class="checkedAdulto" value="perdida de memoria reciente" name="tamizajePapido" type="radio" id="perdidaMemoriaReciente" />
          <label for="perdidaMemoriaReciente">5.- PÈRDIDA DE MEMORIA RECIENTE</label>
        </p>
        <p>
          <input class="checkedAdulto" value="pierde peso mas de 4.5 kg. en 6 meses" name="tamizajePapido" type="radio" id="pierdePeso" />
          <label for="pierdePeso">6.- PIERDE PESO MAS DE 4.5 KG. EN 6 MESES</label>
        </p>
      </div>
    </div>
    <div class="AntecedentesPersonales-item no-boder--bottom">
      <div class="TamizajeSignos" style="width: 100%;">
        <p>
          <input class="checkedAdulto" value="se siente triste o deprimido" name="tamizajePapido" type="radio" id="sienteTristeDeprimido" />
          <label for="sienteTristeDeprimido">7.- SE SIENTE TRISTE O DEPRIMIDO</label>
        </p>
        <p>
          <input class="checkedAdulto" value="puede bañarse solo" name="tamizajePapido" type="radio" id="puedeBanarSolo" />
          <label for="puedeBanarSolo">8.- PUEDE BAÑARSE SOLO</label>
        </p>
        <p>
          <input class="checkedAdulto" value="sale de compras solos" name="tamizajePapido" type="radio" id="saleComprasSolo" />
          <label for="saleComprasSolo">9.- SALE DE COMPRAS SOLOS</label>
        </p>
        <p>
          <input class="checkedAdulto" value="vive sola" name="tamizajePapido" type="radio" id="viveSola" />
          <label for="viveSola">10.- VIVE SOLA</label>
        </p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <div class="s-90 m-45">
        <label for="formMayor65-procedimiento">Procedimiento</label>
        <select id="formMayor65-procedimiento"
          class='browser-default'
          ng-model='data.procedimiento'>
          <option value="" selected>Seleciona</option>
          <option ng-repeat="proc in procedimientos" value="{{ proc.hgc_id_proce }}">
            {{ proc.hgc_desc_proce }}
          </option>
        </select>
      </div>
      <div class="s-90 m-45" style="margin-bottom: 1rem">
        <label>Grupos Prioritadas de Atencion</label>
        <select class="browser-default"
          ng-model='data.grupoPrioritado'
          id="formMayor65-grupoPrioritado">
          <option value="" selected>Selecione grupos prioritadas</option>
          <option value="Embarazadas">1. Embarazadas</option>
          <option value="Personas con discapacidad">
            2. Personas con discapacidad
          </option>
          <option value="Personas por desastres Naturales">
            3. Personas por desastres Naturales
          </option>
          <option value="Personas por desastres Antropogènicos">
            4. Personas por desastres Antropogènicos
          </option>
          <option value="Enfermedades Catastròficas y Raras">
            5. Enfermedades Catastròficas y Raras
          </option>
          <option value="Maltrato infantil">6. Maltrato infantil</option>
          <option value="Privadas de la Libertad">7. Privadas de la Libertad</option>
          <option value="Victimas de Violencia Fìsica">8. Victimas de Violencia Fìsica</option>
          <option value="Victimas de Violencia Psicològica">
            9. Victimas de Violencia Psicològica
          </option>
          <option value="Victimas de Violencia Sexual">10. Victimas de Violencia Sexual</option>
          <option value="Trabajador/a Sexual">11. Trabajador/a Sexual</option>
          <option value="HSH*">12. HSH*</option>
          <option value="Planificaciòn Familiar*">13. Planificaciòn Familiar*</option>
          <option value="No define">14. No define</option>
        </select>
      </div>
    </div>
  </article>
  <div class="main-distribute" style="margin-top:1rem">
    <a class="waves-effect waves-light btn danger" ng-click="cerrar()">Cerrar</a>
    <a class="waves-effect waves-light btn primary" ng-click="save()">Guardar</a>
  </div>
</div>
