<hgc-menu-enfermera></hgc-menu-enfermera>
<section class="workSpace">
  <h2 class="Title">Informacion de {{ paciente.paciente }}</h2>
  <header style="background:inherit" class="header__form28">
    <div class="s-100 m-25 white">
      <label class="center-align">ESTABLECIMIENTO</label>
      <input type="text" style="margin-bottom: 0" disabled
        ng-model="empresa.hgc_nom_empr" class="black-text"
      >
    </div>
    <div  class="s-100 m-25 white">
      <label class="center-align">NOMBRES Y APELLIDOS</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.paciente.paciente" disabled class="black-text">
    </div>
    <div  class="s-100 m-10 white">
      <label class="center-align">SEXO(HM)</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.sexo.hgc_desc_genero" disabled class="black-text">
    </div>
    <div  class="s-100 m-20 white">
      <label class="center-align">FECHA DE NACIMIENTO</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.paciente.hgc_fecn_pacie" disabled class="black-text">
    </div>
    <div  class="s-100 m-20 white">
      <label class="center-align">Nº HISTORIA CLINICA</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.paciente.hgc_histo_hcli" disabled class="black-text">
    </div>
  </header>
  <div class="floating-add">

    <button class='btn-floating btn-large waves-effect waves-light primary none'
      ng-disabled="activeSignosBtn" ng-click="handleShowForm()" id="signosVitales">
      <i class="material-icons">mode_edit</i>
    </button>

    <label for="inputPDF" class='btn-floating btn-large waves-effect waves-light primary' id="filepdf">
      <i class="material-icons">picture_as_pdf</i>
    </label>
    <input type="file" id="inputPDF" class="none" accept="application/pdf">

  </div>

  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="15%">Fecha</th>
          <th width="10%">Peso</th>
          <th width="30%">Edad</th>
          <th width="30%">Doctor</th>
          <th width="30%">
            <button class='waves-effect waves-light btn danger'
              ng-click="handleReport(pacientId)" style="margin:0"><i class="material-icons">print</i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="signosVitales.length === 0">
          <td colspan="6">No hay registro de signos vitales de
            <b>{{ paciente.paciente }}</b>
          </td>
        </tr>
        <tr ng-pagination="signos in signosVitales" ng-pagination-size="5">
          <td>{{ $index +1 }}</td>
          <td>{{ signos.hgc_fecha_sigvit }}</td>
          <td>{{ signos.hgc_peso_sigvit }}</td>
          <td>{{ sacar_edad(signos.hgc_fecn_pacie, signos.hgc_fecha_sigvit) }}</td>
          <td>{{ signos.doctor }}</td>
          <td>
            <button class='waves-effect waves-light btn primary'
              ng-click="handleEdit(signos)">Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="signosVitales"></ng-pagination-control>
    </div>
  </article>

  <section class="formPlus ed-item s-80 m-75 m-offset-10" style="top:5em">
    <div class="form ed-item s-100 m-75">
      <header>
        <h3>Signos Vitales</h3>
      </header>

      <article class="formPlus-content" ng-controller="validForm">
        <div class="input-field s-90 m-45">
          <input id="temperatura" type="text" ng-model="data.temperatura"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="temperatura">Ingresa la temperatura (°C)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="fr-cardiaca" type="text" ng-model="data.frCardica"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="fr-cardiaca">Ingresa la frecuencia cardiaca (fc)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="fr-resporatoria" type="text" ng-model="data.frRespiratoria"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="fr-resporatoria">Ingresa la frecuencia respiratoria (fr)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="presion-arterial" type="text" ng-model="data.prArterial" maxlength="5">
          <label for="presion-arterial">Ingresa la presion arterial (pr)</label>
        </div>
        <div class="input-field s-90 m-45" ng-show="menor">
          <input id="pulso" type="text" ng-model="data.pulso"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="pulso">Ingresa el pulso (x 1)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="peso" type="text" ng-model="data.peso"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="peso">Ingresa el peso (kg)</label>
        </div>
        <div class="input-field s-90 m-45" ng-show="menor">
          <input id="longitud" type="text" ng-model="data.longitud"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="longitud">Ingresa la longitud (cm)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="talla" type="text" ng-model="data.talla"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="talla">Ingresa la talla (cm)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="peri-encefalico" type="text" ng-model="data.prEncefalico"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="peri-encefalico">Ingresa el perimetro encefalico (cm)</label>
        </div>
        <!-- Procedimiento -->
        <div class="s-90 m-45">
          <label for="Procedimiento">Procedimiento</label>
          <select id="Procedimiento" class='browser-default' ng-model='data.procedimiento'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="proc in procedimientos" value="{{ proc.hgc_id_proce }}">
              {{ proc.hgc_desc_proce }}
            </option>
          </select>
        </div>
        <!-- Procedimiento -->

        <div class="s-90 m-45" style="margin-bottom: 1rem">
          <label>Grupos Prioritadas de Atencion</label>
          <select class="browser-default" ng-model='data.grupoPrioritado' id="grupoPrioritado">
            <option value="" selected>Selecione grupos prioritadas</option>
            <option value="Embarazadas">1. Embarazadas</option>
            <option value="Personas con discapacidad">
              2. Personas con discapacidad
            </option>
            <option value="Personas por desastres Naturales">
              3. Personas por desastres Naturales
            </option>
            <option value="Personas por desastres Antropogènicos">
              4. Personas por desastres Antropogènicos
            </option>
            <option value="Enfermedades Catastròficas y Raras">
              5. Enfermedades Catastròficas y Raras
            </option>
            <option value="Maltrato infantil">6. Maltrato infantil</option>
            <option value="Privadas de la Libertad">7. Privadas de la Libertad</option>
            <option value="Victimas de Violencia Fìsica">8. Victimas de Violencia Fìsica</option>
            <option value="Victimas de Violencia Psicològica">
              9. Victimas de Violencia Psicològica
            </option>
            <option value="Victimas de Violencia Sexual">10. Victimas de Violencia Sexual</option>
            <option value="Trabajador/a Sexual">11. Trabajador/a Sexual</option>
            <option value="HSH*">12. HSH*</option>
            <option value="Planificaciòn Familiar*">13. Planificaciòn Familiar*</option>
            <option value="No definido">14. No definido</option>
          </select>
        </div>

        <div class='main-distribute s-100'>
          <button class='waves-effect waves-light btn danger'
            ng-click="handleCancel()">Cancelar
          </button>
          <button class='waves-effect waves-light btn primary'
            ng-click="handleSave()">Aceptar
          </button>
        </div>

      </article>
    </div>
  </section>

  <section class="formPlus056 ed-item s-80 m-75 m-offset-10" style="top:5em"
    ng-controller="formCtrl056SigVit">
    <div class="form ed-item s-100 m-75">
      <header>
        <h3>Signos Vitales</h3>
      </header>
      <input type="hidden" id="idform056" />
      <article class="formPlus-content" ng-controller="validForm">
        <div class="input-field s-90 m-45">
          <input id="fr-cardiaca056" type="text" ng-model="dataform056.frCardica"
            ng-keypress="ValidaSoloDecimal()" maxlength="8">
          <label for="fr-cardiaca056">Ingresa la frecuencia cardiaca (latido / min)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="presion-arterial056" type="text" ng-model="dataform056.prArterial" maxlength="8">
          <label for="presion-arterial056">Ingresa la presion arterial (100/70)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="peso056" type="text" ng-model="dataform056.peso"
            ng-keypress="ValidaSoloDecimal()" maxlength="5" ng-change='calcularImc()'>
          <label for="peso056">Ingresa el peso (kg)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="talla056" type="text" ng-model="dataform056.talla"
            ng-keypress="ValidaSoloDecimal()" maxlength="5" ng-change='calcularImc()'>
          <label for="talla056">Ingresa la talla (cm)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="imc056" type="text" ng-model="dataform056.imc"
            ng-keypress="ValidaSoloDecimal()" disabled>
          <label for="imc056" id='label-imc'>Indice de Masa corporal (IMC)</label>
        </div>
        <div class="input-field s-90 m-45">
          <label for="Procedimiento56" class="active">Procedimiento</label>
          <select id="Procedimiento56" class='browser-default' ng-model='dataform056.procedimiento'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="proc in procedimientos" value="{{ proc.hgc_id_proce }}">
              {{ proc.hgc_desc_proce }}
            </option>
          </select>
        </div>
        <div class="s-90 m-45" style="margin-bottom: 1rem">
          <label>Grupos Prioritadas de Atencion</label>
          <select class="browser-default" ng-model='dataform056.grupoPrioritado' id="grupoPrioritado056">
            <option value="" selected>Selecione grupos prioritadas</option>
            <option value="1. Embarazadas">1. Embarazadas</option>
            <option value="2. Personas con discapacidad">
              2. Personas con discapacidad
            </option>
            <option value="3. Personas por desastres Naturales">
              3. Personas por desastres Naturales
            </option>
            <option value="4. Personas por desastres Antropogènicos">
              4. Personas por desastres Antropogènicos
            </option>
            <option value="5. Enfermedades Catastròficas y Raras">
              5. Enfermedades Catastròficas y Raras
            </option>
            <option value="6. Maltrato infantil">6. Maltrato infantil</option>
            <option value="7. Privadas de la Libertad">7. Privadas de la Libertad</option>
            <option value="8. Victimas de Violencia Fìsica">8. Victimas de Violencia Fìsica</option>
            <option value="9. Victimas de Violencia Psicològica">
              9. Victimas de Violencia Psicològica
            </option>
            <option value="10. Victimas de Violencia Sexual">10. Victimas de Violencia Sexual</option>
            <option value="11. Trabajador/a Sexual">11. Trabajador/a Sexual</option>
            <option value="12. HSH*">12. HSH*</option>
            <option value="13. Planificaciòn Familiar*">13. Planificaciòn Familiar*</option>
            <option value="No define">14. No define</option>
          </select>
        </div>
        <div class='main-distribute s-100'>
          <button class='waves-effect waves-light btn danger'
            ng-click="handleCancel056()">Cancelar
          </button>
          <button class='waves-effect waves-light btn primary'
            ng-click="handleSave056()">Aceptar
          </button>
        </div>

      </article>
    </div>
  </section>

  <section id="formPlusAdultoMayor65"
    ng-include="'src/enfermera/signos-vitales/adulto-mayor-65.html'">
  </section>

  <section id="formPlusAdultoMenor65"
    ng-include="'src/enfermera/signos-vitales/adulto-menor-65.html'">
  </section>

</section>
