<hgc-menu-enfermera></hgc-menu-enfermera>
<section class="workSpace">
  <h2 class="Title">Informacion de {{ paciente.paciente }}</h2>

  <header style="background:inherit" class="header__form28">
    <div class="s-100 m-25 white">
      <label class="center-align">ESTABLECIMIENTO</label>
      <input type="text" style="margin-bottom: 0" disabled
        ng-model="empresa.hgc_nom_empr" class="black-text"
      >
    </div>
    <div  class="s-100 m-25 white">
      <label class="center-align">NOMBRES Y APELLIDOS</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.paciente.paciente" disabled class="black-text">
    </div>
    <div  class="s-100 m-10 white">
      <label class="center-align">SEXO(HM)</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.sexo.hgc_desc_genero" disabled class="black-text">
    </div>
    <div  class="s-100 m-20 white">
      <label class="center-align">FECHA DE NACIMIENTO</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.paciente.hgc_fecn_pacie" disabled class="black-text">
    </div>
    <div  class="s-100 m-20 white">
      <label class="center-align">Nº HISTORIA CLINICA</label>
      <input type="text" style="margin-bottom: 0"
        ng-model="pacient.paciente.hgc_histo_hcli" disabled class="black-text">
    </div>
  </header>

  <div class="floating-add">

    <button class='btn-floating btn-large waves-effect waves-light primary none'
      ng-disabled="activeSignosBtn" ng-click="handleShowForm()" id="signosVitales">
      <i class="material-icons">mode_edit</i>
    </button>

    <label for="inputPDF" class='btn-floating btn-large waves-effect waves-light primary' id="filepdf">
      <i class="material-icons">picture_as_pdf</i>
    </label>
    <input type="file" id="inputPDF" class="none" accept="application/pdf">

  </div>
  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="15%">Fecha</th>
          <th width="15%">Temperatura</th>
          <th width="15%">Peso</th>
          <th width="15%">Talla</th>
          <th width="30%">
            <button class='waves-effect waves-light btn danger'
              ng-click="handleReport(pacientId)" style="margin:0">Imprimir
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="signosVitales.length === 0">
          <td colspan="6">No hay registro de signos vitales de
            <b>{{ paciente.paciente }}</b>
          </td>
        </tr>
        <tr ng-repeat="signos in signosVitales">
          <td>{{ $index +1 }}</td>
          <td>{{ signos.hgc_fecha_sigvit }}</td>
          <td>{{ signos.hgc_temp_sigvit }}</td>
          <td>{{ signos.hgc_peso_sigvit }}</td>
          <td>{{ signos.hgc_talla_sigvit }}</td>
          <td>
            <button class='waves-effect waves-light btn primary'
              ng-click="handleEdit(signos)">Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>

  <section class="formPlus ed-item s-80 m-75 m-offset-10" style="top:8em">
    <div class="form ed-item s-100 m-75">
      <header>
        <h3>Signos Vitales</h3>
      </header>
      <article class="formPlus-content" ng-controller="validForm">
        <div class="input-field s-90 m-45">
          <input id="temperatura" type="text" ng-model="data.temperatura"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="temperatura">Ingresa la temperatura (°C)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="fr-cardiaca" type="text" ng-model="data.frCardica"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="fr-cardiaca">Ingresa la frecuencia cardiaca (fc)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="fr-resporatoria" type="text" ng-model="data.frRespiratoria"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="fr-resporatoria">Ingresa la frecuencia respiratoria (fr)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="presion-arterial" type="text" ng-model="data.prArterial" maxlength="5">
          <label for="presion-arterial">Ingresa la presion arterial (pr)</label>
        </div>
        <div class="input-field s-90 m-45" ng-show="menor">
          <input id="pulso" type="text" ng-model="data.pulso"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="pulso">Ingresa el pulso (x 1)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="peso" type="text" ng-model="data.peso"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="peso">Ingresa el peso (kg)</label>
        </div>
        <div class="input-field s-90 m-45" ng-show="menor">
          <input id="longitud" type="text" ng-model="data.longitud"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="longitud">Ingresa la longitud (cm)</label>
        </div>
        <div class="input-field s-90 m-45" ng-hide="menor">
          <input id="talla" type="text" ng-model="data.talla"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="talla">Ingresa la talla (cm)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="peri-encefalico" type="text" ng-model="data.prEncefalico"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="peri-encefalico">Ingresa el perimetro encefalico (cm)</label>
        </div>

        <!-- Procedimiento -->
        <div class="input-field s-90 m-45">
          <label for="Procedimiento">Procedimiento</label>
          <select id="Procedimiento" class='browser-default' ng-model='data.procedimiento'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="proc in procedimientos" value="{{ proc.hgc_id_proce }}">
              {{ proc.hgc_desc_proce }}
            </option>
          </select>
        </div>
        <!-- Procedimiento -->

        <div class='main-distribute s-100'>
          <button class='waves-effect waves-light btn danger'
            ng-click="handleCancel()">Cancelar
          </button>
          <button class='waves-effect waves-light btn primary'
            ng-click="handleSave()">Aceptar
          </button>
        </div>

      </article>
    </div>
  </section>

  <section class="formPlus056 ed-item s-80 m-75 m-offset-10" style="top:8em"
    ng-controller="formCtrl056SigVit">
    <div class="form ed-item s-100 m-75">
      <header>
        <h3>Signos Vitales</h3>
      </header>
      <input type="hidden" id="idform056" />
      <article class="formPlus-content" ng-controller="validForm">
        <div class="input-field s-90 m-45">
          <input id="imc056" type="text" ng-model="dataform056.imc"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="imc056">Indice de Masa corporal (IMC)</label>
        </div>
        <div class="input-field s-90 m-45">
          <input id="fr-cardiaca056" type="text" ng-model="dataform056.frCardica"
            ng-keypress="ValidaSoloDecimal()" maxlength="8">
          <label for="fr-cardiaca056">Ingresa la frecuencia cardiaca (latido / min)</label>
        </div>

        <div class="input-field s-90 m-45">
          <input id="presion-arterial056" type="text" ng-model="dataform056.prArterial" maxlength="8">
          <label for="presion-arterial056">Ingresa la presion arterial (100/70)</label>
        </div>

        <div class="input-field s-90 m-45">
          <input id="peso056" type="text" ng-model="dataform056.peso"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="peso056">Ingresa el peso (kg)</label>
        </div>

        <div class="input-field s-90 m-45">
          <input id="talla056" type="text" ng-model="dataform056.talla"
            ng-keypress="ValidaSoloDecimal()" maxlength="5">
          <label for="talla056">Ingresa la talla (ml)</label>
        </div>

        <!-- Procedimiento -->
        <div class="input-field s-90 m-45">
          <label for="Procedimiento56">Procedimiento</label>
          <select id="Procedimiento56" class='browser-default' ng-model='data.procedimiento'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="proc in procedimientos" value="{{ proc.hgc_id_proce }}">
              {{ proc.hgc_desc_proce }}
            </option>
          </select>
        </div>
        <!-- Procedimiento -->

        <div class='main-distribute s-100'>
          <button class='waves-effect waves-light btn danger'
            ng-click="handleCancel056()">Cancelar
          </button>
          <button class='waves-effect waves-light btn primary'
            ng-click="handleSave056()">Aceptar
          </button>
        </div>

      </article>
    </div>
  </section>

  <section id="formPlusAdultoMayor65"
    ng-include="'src/enfermera/signos-vitales/adulto-mayor-65.html'">
  </section>

</section>
