<hgc-menu></hgc-menu>
<section class="workSpace">
  <h1 class="Title">Pacientes del dia</h2>
  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="23%">Historia Clinica</th>
          <th width="23%">Paciente</th>
          <th width="23%">Doctor</th>
          <th width="23%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="pacientes.length === 0">
          <td colspan="5">No hay pacientes</td>
        </tr>
        <tr ng-repeat="paciente in pacientes">
          <td>{{ $index + 1 }}</td>
          <td>{{ paciente.hgc_paci_turno }}</td>
          <td>{{ paciente.paciente }}</td>
          <td>{{ paciente.doctor }}</td>
          <td>
            <a class='waves-effect waves-light btn' ui-sref="paciente-signos({id:paciente.hgc_paci_turno, turno:paciente.hgc_id_turno})">Ver</a>
          </td>
        </tr>
      </tbody>
    </table>
  </article>

</section>
