<hgc-menu></hgc-menu>
<section class="workSpace">
  <h2 class="Title">Establecimiento</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()">
      <i class="material-icons">mode_edit</i>
    </button>
  </div>
  <div class="tableContainer" style="padding: .5em">
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="establecimientos">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Institución</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Visible</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="establecimientos.length === 0">
          <td colspan="6">No hay establecimiento</td>
        </tr>
        <tr ng-pagination="establecimiento in establecimientos"
          ng-pagination-size="6">
          <td>{{ $index + 1 }}</td>
          <td>{{ establecimiento.hgc_desc_inst }}</td>
          <td>{{ establecimiento.hgc_desc_tipo }}</td>
          <td>{{ establecimiento.hgc_desc_esta }}</td>
          <td>
            <input type="checkbox" id="visible_{{ establecimiento.hgc_codi_esta }}"
              ng-if="establecimiento.hgc_esta_esta === false"
              ng-click="handleVisible(establecimiento)" />

            <input type="checkbox" id="visible_{{ establecimiento.hgc_codi_esta }}"
                ng-if="establecimiento.hgc_esta_esta === true" checked
                ng-click="handleVisible(establecimiento)" />
            <label for="visible_{{ establecimiento.hgc_codi_esta }}"></label>
          </td>
          <td>
            <button class="waves-effect waves-light btn primary"
              ng-click="handleEdit(establecimiento)">Editar
            </button>
            <button class="waves-effect waves-light btn danger"
              ng-click="handleDelete(establecimiento.hgc_codi_esta)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="establecimientos"></ng-pagination-control>
    </div>
  </div>
</section>

<div id="modalEstablecimiento" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="title-password">Registrar Establecimiento</h4>
    <article>
      <div class="main-distribute">
        <div class="form__input s-100 m-50">
          <label for="institucion">Institucion</label>
          <select ng-model='data.institucion' id="institucion" class='browser-default'>
            <option value="" selected>Selecione</option>
            <option ng-repeat="institucion in instituciones"
            value="{{ institucion.hgc_codi_inst }}">
            {{ institucion.hgc_desc_inst }}
          </option>
        </select>
        </div>

        <div class="form__input s-100 m-50">
          <label for="tipologia">Tipologia</label>
          <select ng-model='data.tipologia' id="tipologia" class='browser-default'>
            <option value="" selected>Selecione</option>
            <option ng-repeat="tipologia in tipologias"
            value="{{ tipologia.hgc_codi_tipo }}">
            {{ tipologia.hgc_desc_tipo }}
          </option>
        </select>
        </div>
      </div>

      <div class="main-distribute">
        <div class="form__input s-100 m-50">
          <label for="red">Red de atencion</label>
          <select ng-model="data.red" id="red" class="browser-default">
            <option value="">Niguno</option>
            <option value="1">Red pùblica</option>
            <option value="2">Red complementaria</option>
          </select>
        </div>

        <div class="form__input s-100 m-50">
          <label for="hora">Horas de atencion</label>
          <select ng-model="data.horas" id="hora" class="browser-default">
            <option value="">No aplica</option>
            <option value="8">8 Horas</option>
            <option value="12">12 Horas</option>
            <option value="14">24 Horas</option>
          </select>
        </div>
      </div>

      <div class="main-distribute">
        <div class="input-field s-100 m-45">
          <input id="descricion" type="text" ng-model='data.descripcion'>
          <label for="descricion">Descripcion</label>
        </div>
        <div class="input-field s-100 m-45">
          <input id="direccion" type="text" ng-model='data.direccion'>
          <label for="direccion">Direccion</label>
        </div>
      </div>

      <div class="main-distribute" ng-controller="validForm">
        <div class="input-field s-100 m-45">
          <input id="telefono" type="text" ng-model='data.telefono'
            ng-keypress="ValidaSoloNumeros()" maxlength="10">
          <label for="telefono">Telefono</label>
        </div>
        <div class="input-field s-100 m-45">
          <input id="celular" type="text" ng-model='data.celular'
            ng-keypress="ValidaSoloNumeros()" maxlength="10">
          <label for="celular">Celular</label>
        </div>
      </div>

      <div class="main-distribute">

        <div class="form__input s-100">
          <label for="parroquia">Parroquia</label>
          <select ng-model='data.parroquia' id="parroquia" class='browser-default'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="parroquia in parroquias" value="{{ parroquia.hgc_codi_parro }}">
              {{ parroquia.hgc_desc_parro }}
            </option>
          </select>
        </div>

      </div>

      <p class="main-center">
        <input type="checkbox" id="visible" checked ng-model='data.visible' />
        <label for="visible">visible</label>
      </p>
    </article>
  </div>
  <div class="modal-footer main-center">
    <button class="modal-action modal-close waves-effect waves-light btn danger bxn"
      ng-click='handleClose()'>
      Cerrar
    </button>
    <button class="waves-effect waves-light btn primary bxn" style="margin-left:1em"
      ng-click='handleSave()'>
      Guardar
    </button>
  </div>
</div>
