<hgc-menu></hgc-menu>
<section class="workSpace">
  <h2 class="Title">Asignar Horarios</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()">
      <i class="material-icons">mode_edit</i>
    </button>
  </div>
  <div class="tableContainer" style="padding: .5em">
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="horarioDoc">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Medico</th>
          <th>Consultorio</th>
          <th>Mes</th>
          <th>Año</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="horarioDoc.length === 0">
          <td colspan="5">No hay horarios asignados</td>
        </tr>
        <tr ng-pagination="horario in horarioDoc" ng-pagination-size="6">
          <td>{{ $index + 1 }}</td>
          <td>{{ horario.hgc_desc_cons }}</td>
          <td>{{ horario.medico }}</td>
          <td>{{ horario.hgc_mes_hora }}</td>
          <td>{{ horario.hgc_yea_hora }}</td>
          <td>
            <button class="btn waves-effect waves-light primary"
              ng-click="handleEdit(horario)">Editar
            </button>
            <button class="btn waves-effect waves-light danger"
              ng-click="handleDelete(horario.hgc_codi_hora)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="horarioDoc"></ng-pagination-control>
    </div>
  </div>
</section>

<!-- formulario -->
<div id="adignarFormHorario" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="title-password">Registrar Horario a Doctor</h4>
    <article class="tabs-horarios">
      <ul id="tabs-horarios" class="tabs">
        <li class="tab col s3"><a class="active" href="#horarios-swipe-1">Informacion</a></li>
        <li class="tab col s3"><a href="#horarios-swipe-2">Horarios</a></li>
      </ul>

      <!-- Informacion basica para la asignacion de horarios -->
      <div id="horarios-swipe-1" class="col s12">
        <div class="form__input" style="padding:0">
          <label for="medicos">Medicos y Enefermeras</label>
          <select ng-model='data.medicos' id="medicos" class='browser-default'>
            <option value="" selected>Seleciona</option>
            <option ng-repeat="medico in medicos"
              value="{{ medico.hgc_codi_profe }}">
              {{ medico.hgc_nom_profe }} {{ medico.hgc_ape_profe }}
            </option>
          </select>
        </div>

        <article class="grid-divider">
          <div class="form__input" style="padding:0">
            <label for="consultorio">Consultorios</label>
            <select ng-model='data.consultorio' id="consultorio" class='browser-default'>
              <option value="" selected>Seleciona</option>
              <option ng-repeat="consultorio in consultorios"
                value="{{ consultorio.hgc_codi_cons }}">
                {{ consultorio.hgc_desc_cons }}
              </option>
            </select>
          </div>

          <div class="form__input" style="padding:0">
            <label for="mes">Mes</label>
            <select ng-model='data.mes' id="mes" class='browser-default'>
              <option value="" selected>Seleciona</option>
              <option ng-repeat="mes in mes" value="{{ mes.id }}">{{ mes.nombre }}</option>
            </select>
          </div>
        </article>
      </div>

      <!-- Horarios para el doctor -->
      <div id="horarios-swipe-2" class="col s12">
        <div class="main-end">
          <button class="waves-effect waves-light btn primary hours" ng-click="handleHours()">
            <i class="material-icons">hourglass_full</i>
          </button>
        </div>
        <table class="bordered highlight centered responsive-table">
          <thead>
            <tr>
              <th>Dom</th>
              <th>Lun</th>
              <th>Mar</th>
              <th>Mie</th>
              <th>Jue</th>
              <th>Vie</th>
              <th>Sab</tr>
            </tr>
          </thead>
          <tbody id="semanasDelMes">
          </tbody>
        </table>
      </div>
    </article>
  </div>
  <div class="modal-footer main-center">
    <button class="modal-action modal-close waves-effect waves-light btn danger bxn"
      ng-click='handleClose()'>
      Cerrar
    </button>
    <button class="waves-effect waves-light btn primary bxn" style="margin-left:1em"
      ng-click='handleSave()'>
      Guardar
    </button>
  </div>
</div>

<!-- Horarios -->
<div id="modalInstitucion" class="modal modal-fixed-footer" style="height: 85%;">
  <div class="modal-content">
    <h4 class="title-password">Horarios</h4>
    <div class="input-field s-90 s-offset-5">
      <input id="buscador" type="text" ng-pagination-search="horarios">
      <label for="buscador">Buscador</label>
    </div>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="horarios.length === 0">
          <td colspan="3">No hay horarios</td>
        </tr>
        <tr ng-pagination="horario in horarios" ng-pagination-size="2">
          <td>{{ $index + 1 }}</td>
          <td>{{ horario.hgc_ent_hora }}</td>
          <td>{{ horario.hgc_sal_hora }}</td>
          <td>
            <button class="waves-effect waves-light btn primary"
              ng-click="setHorario(horario)"><i class="material-icons">done_all</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-distribute paging-container">
      <ng-pagination-control pagination-id="horarios"></ng-pagination-control>
    </div>
  </div>
  <div class="modal-footer main-center">
    <button class="modal-action modal-close waves-effect waves-light btn danger bxn">
      Cerrar
    </button>
  </div>
</div>
