<hgc-menu></hgc-menu>
<section class="workSpace">
  <h2 class="Title">Institucion</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary'
      ng-click="handleShowForm()">
      <i class="material-icons">mode_edit</i>
    </button>
  </div>
  <div class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Descripcion</th>
          <th>Visible</th>
          <th>Acciòn</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="instituciones.length === 0">
          <td colspan="4">No hay instituciones</td>
        </tr>
        <tr ng-repeat='institucion in instituciones'>
          <td>{{ $index + 1 }}</td>
          <td>{{ institucion.hgc_desc_inst }}</td>
          <td>
            <input type="checkbox" id="visible_{{ institucion.hgc_codi_inst }}"
              ng-if="institucion.hgc_est_inst === false"
              ng-click="handleVisible(institucion)" />
            <input type="checkbox" id="visible_{{ institucion.hgc_codi_inst }}"
                ng-if="institucion.hgc_est_inst === true" checked
                ng-click="handleVisible(institucion)" />
            <label for="visible_{{ institucion.hgc_codi_inst }}"></label>
          </td>
          <td>
            <button class="waves-effect waves-light btn primary"
              ng-click="handleEdit(institucion)">Editar
            </button>
            <button class="waves-effect waves-light btn danger"
              ng-click="handleDelete(institucion.hgc_codi_inst)">Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div id="modalInstitucion" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="title-password">Registrar Institucion</h4>
    <article>
      <div class="input-field">
        <input id="descricion" type="text" ng-model='data.descripcion'>
        <label for="descricion">Descripcion</label>
      </div>
      <p class="main-center">
        <input type="checkbox" id="visible" checked ng-model='data.visible' />
        <label for="visible">visible</label>
      </p>
    </article>
  </div>
  <div class="modal-footer main-center">
    <button class="modal-action modal-close waves-effect waves-light btn danger bxn"
      ng-click='handleClose()'>
      Cerrar
    </button>
    <button class="waves-effect waves-light btn primary bxn" style="margin-left:1em"
      ng-click='handleSave()'>
      Guardar
    </button>
  </div>
</div>
