<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace">
  <style scoped>
    .workSpace {width: 90%;}
  </style>

  <article class="form ed-item" ng-controller="form06SaveCtrl">
    <h1 class="Title no-margin s-100">{{ title }}</h2>

    <div class="grafica-container">
      <a class="waves-effect waves-light btn-flat grafica-container__cambiar" ng-click="handleToggleOne()">Cambiar Pagina</a>
      <section class="graficaPaper" ng-class="{'graficaPaper-active': graficaFlag}">
        <section class="graficaPaper__front">
          <article class="graficaPaper__article">
            <p class="graficaPaper__title">Índice de Masa Corporal / Edad, 10 a 19 años. Desviaciones Estándar</p>
            <img class="imc__img" />
            <svg id="graficaPaper-imc__svg"></svg>
            <div class="toaster-imc-mayor"></div>
            <div class="">
              <p class="graficaPaper__instructivo">INSTRUCTIVO</p>
              <p class="graficaPaper__instrunctiones">Luego de obtener el peso en Kg. y talla en metro y primer decimal, se divide el
                peso para la talla al cuadra: P (Kg.)/ T(m). El valor obtenido se grafica con un punto en el sitio donde se
                intersectan el valor obtenido con la edad actual.
              </p>
            </div>
          </article>
          <article class="">
            <p class="graficaPaper__title">EVALUACIÓN DE LA MADURACIÓN SEXUAL: ESTADÍOS DE TANNER</p>
            <img class="evolucionMaduracion__img" />
          </article>
        </section>

        <section class="graficaPaper__back">
          <p class="graficaPaper__title">Velocidad de Crecimiento (Talla), 10 a 18 años. Percentiles</p>
          <img class="velocidadCrecimiento__img" />
          <div class="">
            <p class="graficaPaper__instructivo">INSTRUCTIVO</p>
            <p class="graficaPaper__instrunctiones">Se toma la talla en dos momentos diferentes, el intervalo entre la dos mediciones
              no deben sermenor a 3 ni mayor a 18 meses; se obtiene la diferencia en centimetros, que se divide para el
              número de meses transcurrido entre ellas, y el valor obteido luego se multiple por doce. El resultado
              obtenido se grafíca en la mitad entre las dos mediciones
            </p>
          </div>
        </section>

      </section>
    </div>

    <div class="grafica-container">
      <h5 class="center-align grafica__adolecente">ADOLESCENTE {{ sexo }}</h5>
      <a class="waves-effect waves-light btn-flat grafica-container__cambiar" ng-click="handleToggleTwo()">Cambiar Pagina</a>
      <section class="graficaPaper" ng-class="{'graficaPaper-active': graficaFlag2}">
        <article class="graficaPaper__front">
          <p class="graficaPaper__title">Peso / Edad, 10 a 19 años. Percentiles</p>
          <img class="percentiles-img" />
        </article>
        <article class="graficaPaper__back">
          <p class="graficaPaper__title">Talla / Edad, 10 a 19 años. Desviaciones Estàndar</p>
          <img class="talla-img" />
          <div class="">
            <p class="graficaPaper__instructivo">INSTRUCTIVO</p>
            <ol>
              <li class="graficaPaper__instrunctiones">De acuerdo a la fecha de nacimiento establezca la edad en años y mes cumplidos</li>
              <li class="graficaPaper__instrunctiones">mida al adolecente y anote el resultado en centìmetros. Pese al
                adolescente y anote el resultado en kg. y cientos de gramos. Durante el examen fìsico, determine el estadio
                del desarrollo puberal de acuerdo a las gràficas al reverso de esta pàgina.</li>
              <li class="graficaPaper__instrunctiones">Ubique la edad del adolescente al momento de la consukta, en la lìnea
                horizontal inferior de la gràfica.</li>
              <li class="graficaPaper__instrunctiones">Señale con un punto el lugar en la cual se interceptan la edad actual,
                con en peso en kg. y cientos de graos con la talla en cm.</li>
              <li class="graficaPaper__instrunctiones">Analice la situaciòn individual, observando la progresìon del
                adolescente en las curvas y las diferentes interrelaciones de los paràmetros evaluados</li>
            </ol>
          </div>
        </article>
      </section>

    </div>
  </article>
</section>
