<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace">
  <style scoped>
    .workSpace {width: 100%;}
  </style>
  <article class="form ed-item">
    <h1 class="Title no-margin s-100">Form 056</h2>

    <!-- Nombres del paciente y Establecimiento -->
    <article class="grid-header">
      <div class="form056-header-names">
        <ul class="form056-header-names--head">
          <li>APELLIDOS:</li>
          <li>PATERNO</li>
          <li>MATERNO</li>
          <li>NOMBRES</li>
        </ul>
        <ul class="form056-header-names--body">
          <li></li>
          <li>{{ apellidos[0] }}</li>
          <li>{{ apellidos[1] }}</li>
          <li>{{ paciente.hgc_nom_pacie }}</li>
        </ul>
      </div>

      <div class="form056-header-establecimiento">
        <p class="u-noMargin"><strong>Nùmeros de Historia Clìnica:</strong>
          {{ paciente.hgc_histo_hcli }}
        </p>
        <p class="u-noMargin"><strong>ESTABLECIMIENTO:</strong>
          {{ empresa.hgc_nom_empr }}
        </p>
      </div>
    </article>
    <!-- End Nombres del paciente y Establecimiento -->

    <!-- Informacion del paciente -->
    <div class="grid-paciente">
      <aside class="pacientes-informacion">
        <fieldset style="margin-top:1em" class="s-100">
          <label class="s-10 bold-input" style="display:inline-block">DIRECCIÒN</label>
          <input style="display: inline-block;width: 89%;margin: 0;" value="VIA QUEVEDO"
            disabled ng-model="paciente.hgc_direc_pacie" />

          <div class="container-code-pronvia">
            <div>
              <label class="bold-input" style="display: inline-flex;width: 34%;text-align: center;">
                PROVINCIA, CANTÒN, PARROQUIA
              </label>
              <input style="display: inline-block;width: 65%;margin: 0;" disabled ng-model="provincia" />
            </div>
            <div class="celda-code-container">
            <p class="u-noMargin bold-input">Codigo</p>
            <p class="u-noMargin celda-code"></p>
            <p class="u-noMargin celda-code"></p>
            <p class="u-noMargin celda-code"></p>
            <p class="u-noMargin celda-code"></p>
            <p class="u-noMargin celda-code"></p>
            <p class="u-noMargin celda-code"></p>
          </div>
            <div class="grid-cellphone">
              <label class="bold-input" style="display: inline-block">Telefono</label>
              <input type="text" disabled ng-model="paciente.hgc_tele_pacie" />
            </div>
            <div>
              <p>
                <input type="checkbox" id="Domicilio" ng-checked="domicilioFlag" disabled />
                <label for="Domicilio">Domicilio</label>
              </p>
            </div>
          </div>

          <article class="container-grid-lugar">
            <div>
              <label class="bold-input" style="width: 19%;display:inline-block">LUGAR DE NACIMIENTO</label>
              <input style="display: inline-block;width: 79%;margin: 0;" disabled
                ng-model="paciente.hgc_lunac_pacie" />
            </div>
            <div class="grid-cellphone">
              <label class="bold-input" style="display: inline-block">Celular</label>
              <input type="text" disabled ng-model="paciente.hgc_celu_pacie">
            </div>
            <div>
              <p>
                <input type="checkbox" id="mensaje" ng-checked="mensajeFlag" disabled />
                <label for="mensaje">mensaje</label>
              </p>
            </div>
          </article>

        </fieldset>
      </aside>

      <aside class="paciente-nacimiento">
        <p>FECHA DE NACIMIENTO</p>
        <ul class="paciente-nacimiento--header">
          <li>dia</li>
          <li>mes</li>
          <li>año</li>
        </ul>
        <ul>
          <li>{{ nacimiento[2] }}</li>
          <li>{{ nacimiento[1] }}</li>
          <li>{{ nacimiento[0] }}</li>
        </ul>
      </aside>
    </div>
    <!-- End de la informacion del paciente -->

    <!-- Consulta y Acompañante -->
    <section class="Informacion-consulta">
      <!-- Consulta principal -->
      <article class="Informacion-consulta-paciente">
        <p class="u-noMargin bold-input">CONSULTA PRINCIPAL Nº 34</p>
        <div class="Informacion-consulta-fecha s-90">
          <p class="u-noMargin bold-input">Fecha</p>
          <div>
            <ul class="Informacion-consulta-fecha--header">
            <li>dia</li>
            <li>mes</li>
            <li>año</li>
          </ul>
            <ul class="Informacion-consulta-fecha--boody">
            <li>{{ hoy[0] }}</li>
            <li>{{ hoy[1] }}</li>
            <li>{{ month[0] }}</li>
            <li>{{ month[1] }}</li>
            <li>{{ year[2] }}</li>
            <li>{{ year[3] }}</li>
          </ul>
          </div>
        </div>

        <div class="Informacion-consulta-edad s-90">
          <p class="u-noMargin bold-input">EDAD</p>
          <div>
            <ul class="Informacion-consulta-edad--header">
              <li>años</li>
              <li>meses</li>
            </ul>
            <ul class="Informacion-consulta-edad--boody">
            <li>{{ ageYear[0] }}</li>
            <li>{{ ageYear[1] }}</li>
            <li>{{ ageMonth[0] }}</li>
            <li>{{ ageMonth[1] }}</li>
          </ul>
            </div>
        </div>
      </article>
      <!-- End Consulta principal -->

      <!-- Acompañante -->
      <article class="u-companion">
        <div class="Informacion-consulta-companion">
          <p class="s-100 u-noMargin bold-input">Acompañante</p>
          <ul class="Informacion-consulta-companion--list">
            <li>
              <input type="checkbox" id="solo" />
              <label for="solo">solo</label>
            </li>
            <li>
              <input type="checkbox" id="madre" />
              <label for="madre">madre</label>
            </li>
            <li>
              <input type="checkbox" id="padre" />
              <label for="padre">padre</label>
            </li>
            <li>
              <input type="checkbox" id="ambos" />
              <label for="ambos">ambos</label>
            </li>
            <li>
              <input type="checkbox" id="pareja" />
              <label for="pareja">pareja</label>
            </li>
            <li>
              <input type="checkbox" id="amigo" />
              <label for="amigo">amigo/a</label>
            </li>
            <li>
              <input type="checkbox" id="pariente" />
              <label for="pariente">pariente</label>
            </li>
            <li>
              <input type="checkbox" id="otro" />
              <label for="otro">otro</label>
            </li>
          </ul>
        </div>
        <div class="Informacion-consulta-civilStatus">
          <p class="s-100 u-noMargin bold-input">ESTADO CIVIL</p>
          <p class="u-noMargin">
            <input type="checkbox" id="test5" />
            <label for="test5">soltero</label>
          </p>
          <p class="u-noMargin">
            <input type="checkbox" id="test5" />
            <label for="test5">uniòn estado</label>
          </p>
          <p class="u-noMargin">
            <input type="checkbox" id="test5" />
            <label for="test5">separados</label>
          </p>
        </div>
      </article>
      <!-- End Acompañante -->
    </section>
    <!-- End Consulta y Acompañante-->

    <!-- Motivo de Consulta -->
    <section class="Motivo-consulta">
      <article class="Motivo-consulta--self">
        <p class="Motivo-consulta--title">
          <a>1. MOTIVO DE CONSULTA (segùn adolescente):</a>
          <a class="u-pointer motivo-add" ng-click="handleAddMotivoSelf()">
            <i class="material-icons">add</i>
          </a>
        </p>
        <ul class="Motivo-consulta--self-list" id="motivo-list">
          <li class="input-field Motivo-consulta--self-item">
            <input type="text" placeholder="Ingrese el motivo de consulta" id="input-1">
            <p class="consulta-cie--code" id="cie-1"></p>
          </li>
          <li class="input-field Motivo-consulta--self-item">
            <input type="text" placeholder="Ingrese el motivo de consulta" id="input-2">
            <p class="consulta-cie--code" id="cie-2"></p>
          </li>
          <li class="input-field Motivo-consulta--self-item">
            <input type="text" placeholder="Ingrese el motivo de consulta" id="input-3">
            <p class="consulta-cie--code" id="cie-3"></p>
          </li>
        </ul>
      </article>
      <article class="Motivo-consulta--company">
        <p class="Motivo-consulta--title">
          <a>MOTIVO DE CONSULTA (segùn acompañante):</a>
          <a class="u-pointer motivo-add" ng-click="handleAddMotivoCompany()">
            <i class="material-icons">add</i>
          </a>
        </p>
        <ul class="Motivo-consulta--self-list" id="motivo-list-company">
          <li class="input-field Motivo-consulta--self-item">
            <input type="text" placeholder="Ingrese el motivo de consulta" id="input-company-1">
            <p class="consulta-cie--code" id="cie-company-1"></p>
          </li>
          <li class="input-field Motivo-consulta--self-item">
            <input type="text" placeholder="Ingrese el motivo de consulta" id="input-company-2">
            <p class="consulta-cie--code" id="cie-company-2"></p>
          </li>
          <li class="input-field Motivo-consulta--self-item">
            <input type="text" placeholder="Ingrese el motivo de consulta" id="input-company-3">
            <p class="consulta-cie--code" id="cie-company-3"></p>
          </li>
        </ul>
      </article>
    </section>
    <!-- End Motivo de Consulta -->

    <!-- Enfermedad actual -->
    <article class="Enfermedad-actual">
      <p class="Motivo-consulta--title">2. ENFERMEDAD ACTUAL</p>
      <div class="input-field">
        <textarea id="enfermedad-actual" class="materialize-textarea" ng-model="data.planTratamiento"
          placeholder="Ingresea la enfermedad actual"></textarea>
      </div>
    </article>
    <!-- End Enfermedad actual -->

    <!-- Antecedentes Personales -->
    <article class="Antecedente-personales">
      <p class="Motivo-consulta--title">3. ANTECEDENTES PERSONALES</p>
      <article class="Antecedente-personales--grid">
        <div ng-repeat="item in antecendesPersonales" class="Antecedente-personales--item">
          <p class="bold-input Antecedente-personales--name">{{ item.name }}</p>

          <div class="Antecedente-personales--options">
            <p ng-repeat="check in item.options">
              <input name="{{ item.id }}" type="radio" id="{{ check.id }}"
                class="{{ check.class }}-input" value="{{ check.val }}" />
              <label for="{{ check.id }}" class="{{ check.class }}">{{ check.name }}</label>
            </p>
          </div>

        </div>
      </article>
      <p class="bold-input">Obeservaciones</p>
      <div class="input-field">
        <textarea id="enfermedad-actual" class="materialize-textarea" ng-model="data.planTratamiento"
          placeholder="Ingresea una obeservaciones" style="padding:0"></textarea>
      </div>
    </article>
    <!-- End Antecedentes Personales -->

    <!-- Antecedentes Familiares -->
    <article class="Antecedente-personales">
      <p class="Motivo-consulta--title">3. ANTECEDENTES FAMILIARES</p>
      <article class="Antecedente-familiares--grid">
        <div ng-repeat="item in antecendesFamiliares" class="Antecedente-personales--item">
          <p class="bold-input Antecedente-personales--name">{{ item.name }}</p>

          <div class="Antecedente-personales--options">
            <p ng-repeat="check in item.options">
              <input type="radio" name="{{item.id}}" id="{{ check.id }}"
                class="{{ check.class }}-input" />
              <label for="{{ check.id }}" class="{{ check.class }}">{{ check.name }}</label>
            </p>
          </div>

        </div>
      </article>
      <p class="bold-input">Obeservaciones</p>
      <div class="input-field">
        <textarea id="ant-fami-observacion" class="materialize-textarea" ng-model="data.antFamiObservacion"
          placeholder="Ingresea una obeservaciones" style="padding:0"></textarea>
      </div>
    </article>
    <!-- End Antecedentes Familiares -->

    <!-- Familia -->
    <article class="Familia s-20">
      <p class="Motivo-consulta--title s-80" style="margin:0">5. FAMILIA</p>
      <P class="u-noMargin Familia--title">CONVIVE CON</P>
      <article class="Familia-grid">
        <div class="Familia-header">
          <p></p>
          <p>No</p>
          <p>En la casa</p>
          <p>En el cuarto</p>
        </div>
        <div class="Familia-list" ng-repeat="item in familia">
          <p class="Familia-name">{{ item.name }}</p>
          <div class="Familia-options">
            <p ng-repeat="check in item.options">
              <input type="{{ check.type }}" name="{{item.id}}" id="{{ check.id }}"
                class="{{ check.class }}-input" class="{{ check.class }}-input" />
              <label for="{{ check.id }}" class="{{ check.class }}"></label>
            </p>
          </div>
        </div>
      </article>
      <p class="u-noMargin Familia--title" style="margin-top:2em !important">VIVE</p>
      <article class="Familia-grid">
        <div class="Familia-header">
          <p></p>
          <p>No</p>
          <p>Si</p>
        </div>
        <div class="Familia-list" ng-repeat="item in vive">
          <p class="Familia-name">{{ item.name }}</p>
          <div class="Familia-options">
            <p ng-repeat="check in item.options">
              <input type="{{ check.type }}" name="{{item.id}}" id="{{ check.id }}"
                class="{{ check.class }}-input" class="{{ check.class }}-input" />
              <label for="{{ check.id }}" class="{{ check.class }}"></label>
            </p>
          </div>
        </div>
      </article>
    </article>
    <!-- End Familia -->

    <section class="Trabajo-Instruccion s-20">
      <!-- Nivel de Instrucciòn -->
      <article class="Nivel-instruccion">
        <p class="Nivel-instruccion-title">Nivel de instrucciòn</p>
        <div class="grid-padres-madres">
          <p class="Nivel-instruccion--padre">Padre o sustituto</p>
          <p class="Nivel-instruccion--madre">Madre o sustituto</p>
        </div>
        <div ng-repeat="item in nivelInstruccion" class="Nivel-instruccion--item">
          <p class="Nivel-instruccion--name">{{ item.instr }}</p>
          <p ng-repeat="check in item.options">
            <input name="{{ item.name }}" type="radio" id="{{ check }}"  class="{{ check }}-input" />
            <label for="{{ check }}" class="{{check}}"></label>
          </p>
        </div>
      </article>
      <!-- /Nivel de Instrucciòn -->

      <!-- Trabajo -->
      <article class="Nivel-instruccion">
        <p class="Nivel-instruccion-title">TRABAJO</p>
        <div class="grid-padres-madres">
          <p class="Nivel-instruccion--padre">Padre o sustituto</p>
          <p class="Nivel-instruccion--madre">Madre o sustituto</p>
        </div>
        <div ng-repeat="item in trabajo" class="Nivel-instruccion--item">
          <p class="Nivel-instruccion--name">{{ item.trab }}</p>
          <p ng-repeat="check in item.options">
            <input name="{{ item.name }}" type="radio" id="{{ check }}"  class="{{ check }}-input" />
            <label for="{{ check }}" class="{{check}}"></label>
          </p>
        </div>
      </article>
      <!-- End Trabajo -->

      <!-- OCUPACION -->
      <article class="Ocupacion-instruccion">
        <p class="bold-input u-noMargin">OCUPACIÒN</p>
        <div class="input-field u-noMargin">
          <input type="text" placeholder="Ingresa la ocupacion" />
        </div>
      </article>
      <!-- End OCUPACION -->

      <!-- Percepcion -->
      <article class="Percepcion-familiar">
        <ul class="Percepcion-familiar--list">
          <li class="Percepcion-familiar--item">Buena</li>
          <li class="Percepcion-familiar--item">Regular</li>
          <li class="Percepcion-familiar--item">Mala</li>
          <li class="Percepcion-familiar--item small-size">No hay relaciòn</li>

          <li class="Percepcion-familiar--item">
            <input name="percepcionFami" type="radio" id="Buena" />
            <label for="Buena"></label>
          </li>
          <li class="Percepcion-familiar--item">
            <input name="percepcionFami" type="radio" id="Regular" />
            <label for="Regular"></label>
          </li>
          <li class="Percepcion-familiar--item">
            <input name="percepcionFami" type="radio" id="Mala" class="no-check-input" />
            <label for="Mala" class="no-check"></label>
          </li>
          <li class="Percepcion-familiar--item">
            <input name="percepcionFami" type="radio" id="no-relacion" class="no-check-input" />
            <label for="no-relacion" class="no-check"></label>
          </li>
        </ul>
      </article>
      <!-- End Percepcion -->
    </section>

    <section class="Familiar s-40">
      <article class="FamilarDriagama">
        <h6 class="u-noMargin bold-input center-align">DIAGRAMA FAMILIAR</h6>
        <div id="sketch">
          <canvas id="paint" class="paint-driagrama"></canvas>
        </div>
      </article>
    </section>

  </article>
</section>
