<hgc-menu></hgc-menu>
<section class="workSpace">
	<h1 class="Title">Barrios</h2>
	<div class="floating-add">
		<button class='btn-floating btn-large waves-effect waves-light primary' ng-click="handleShowForm()"><i class="material-icons">mode_edit</i></button>
	</div>
	<article class="tableContainer">
		<table class="bordered highlight centered responsive-table">
			<thead>
				<tr>
					<th width="10%">#</th>
					<th width="60%">Barrios</th>
					<th width="30%"></th>
				</tr>
			</thead>
			<tbody>
        <tr ng-if="barrios.length === 0">
          <td colspan="5">No hay barrios</td>
        </tr>
				<tr ng-repeat="barrio in barrios">
					<td>{{ $index + 1 }}</td>
					<td>{{ barrio.hgc_desc_barrio }}</td>
					<td>
						<button class='waves-effect waves-light btn primary' ng-click="get(barrio.hgc_codi_barrio, barrio.hgc_desc_barrio, barrio.hgc_parro_barrio)">Editar</button>
						<button class='waves-effect waves-light btn danger' ng-click="delete(barrio.hgc_codi_barrio)">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<div class="formContainer ed-item s-80 m-75 m-offset-5" ng-class="{ 'formContainer-active': showForm }">
		<article class="form ed-item s-100 m-75">
			<header>
			  <h3>Registrar el barrio</h3>
			</header>
			<div class="form__input">
			  <label for="barrio">Ingresa el barrio</label>
			  <input id="barrio" type="text" placeholder='Ejemplo: Los Anturios' ng-model='data.barrio'>
			</div>
			<div class="form__input">
			  <label for="parroquia">Seleciona la parroquia</label>
			  <select id="parroquia" class='browser-default' ng-model='data.parroquia'>
			  	<option ng-repeat="parroquia in parroquias" value="{{ parroquia.hgc_codi_parro }}">{{ parroquia.hgc_desc_parro }}</option>
			  </select>
			</div>
			<div class='main-distribute'>
			  <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
			  <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
			</div>
		</article>
	</div>
</section>

