<hgc-menu></hgc-menu>
<section class="workSpace">
  <h1 class="Title">Profesionales</h2>
  <div class="floating-add">
    <button class='btn-floating btn-large waves-effect waves-light primary' ng-click="handleShowForm()"><i class="material-icons">mode_edit</i></button>
  </div>
  <article class="tableContainer">
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="30%">Profesionales</th>
          <th width="30%">Email</th>
          <th width="30%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="usuarios.length === 0">
          <td colspan="5">No hay usuarios</td>
        </tr>
        <tr ng-repeat="user in usuarios">
          <td>{{ $index + 1 }}</td>
          <td>{{ user.hgc_nom_profe }} {{ user.hgc_ape_profe }}</td>
          <td>{{ user.hgc_emai_profe }}</td>
          <td>
            <button class='waves-effect waves-light btn primary' ng-click="get(user)">Editar</button>
            <button class='waves-effect waves-light btn danger' ng-click="delete(user.hgc_codi_profe)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  <div class="formContainer ed-item s-80 m-75 m-offset-5" ng-class="{ 'formContainer-active': showForm }"
    style="top:0.5em">
    <article class="form ed-item s-100 m-75 main-distribute">
      <header class="s-100">
        <h3>Registrar usuario</h3>
      </header>
      <article class="form__scroll">
        <div class="form__input s-100 m-45">
          <label for="cedula">Ingresa el cedula</label>
          <input id="cedula" type="text" placeholder='Ejemplo: 1718769365' ng-model='data.cedula'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="nombre">Ingresa el nombre</label>
          <input id="nombre" type="text" placeholder='Ejemplo: Juan Carlos' ng-model='data.nombre'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="apellido">Ingresa el apellido</label>
          <input id="apellido" type="text" placeholder='Ejemplo: Torres Tuares' ng-model='data.apellido'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="fechaNac">Ingresa el fecha de nacimiento</label>
          <input id="fechaNac" type="date" placeholder='Ejemplo: 1997-27-10' ng-model='data.fechaNac'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="dni">Ingresa el DNI</label>
          <input id="dni" type="text" placeholder='Ejemplo: 22sjduyd' ng-model='data.dni'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="telefono">Ingresa el telefono</label>
          <input id="telefono" type="text" placeholder='Ejemplo: 02379965' ng-model='data.telefono'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="ceulular">Ingresa el ceulular</label>
          <input id="ceulular" type="text" placeholder='Ejemplo: 099389652' ng-model='data.ceulular'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="direccion">Ingresa el direccion</label>
          <input id="direccion" type="text" placeholder='Ejemplo: Via Chone' ng-model='data.direccion'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="email">Ingresa el e-mail</label>
          <input id="email" type="text" placeholder='Ejemplo: juancarlos@gmail.com' ng-model='data.email'>
        </div>
        <div class="form__input s-100 m-45">
          <label for="sexo">Ingresa el genero</label>
          <select ng-model='data.sexo' id="sexo" class='browser-default'>
            <option value="" selected>Seleciona el sexo</option>
            <option ng-repeat="sexo in generos" value="{{ sexo.hgc_codi_genero }}">{{ sexo.hgc_desc_genero }}</option>
          </select>
        </div>
        <div class="form__input s-100 m-45">
          <label for="profesion">Ingresa la profesion</label>
          <select ng-model='data.profesion' id="profesion" class='browser-default'>
            <option value="" selected>Seleciona el profesion</option>
            <option ng-repeat="profesion in profesiones" value="{{ profesion.hgc_codi_profe }}">{{ profesion.hgc_desc_profe }}</option>
          </select>
        </div>
        <div class="form__input s-100 m-45">
          <label for="rol">Ingresa el rol</label>
          <select ng-model='data.rol' id="rol" class='browser-default'>
            <option value="" selected>Seleciona el rol</option>
            <option value="administrador">Administrador</option>
            <option value="doctor">Doctor</option>
            <option value="enfermera">Enfermera</option>
            <option value="admision">Admision</option>
          </select>
        </div>
      </article>
      <div class='main-distribute s-100'>
        <button class='waves-effect waves-light btn danger' ng-click="handleCancel()">Cancelar</button>
        <button class='waves-effect waves-light btn primary' ng-click="handleSave()">Aceptar</button>
      </div>
    </article>
  </div>
</section>

