<hgc-menu></hgc-menu>
<section class="workSpace">
	<h1 class="Title">Cantones</h2>
	<div class="main-end">
		<button class='btn__flat primary' ng-click="handleShowForm()">Nuevo</button>
	</div>
	<article class="tableContainer">
		<table class="tableData">
			<thead>
				<tr>
					<th width="10%">#</th>
					<th width="60%">Cantones</th>
					<th width="20%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="canton in cantones">
					<td>{{ $index + 1 }}</td>
					<td>{{ canton.hgc_desc_canton }}</td>
					<td>
						<button class='btn__flat' ng-click="get(canton.hgc_codi_canton, canton.hgc_desc_canton, canton.hgc_provi_canton)">Editar</button>
						<button class='btn__flat danger' ng-click="delete(canton.hgc_codi_canton)">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<div class="formContainer ed-item s-80 m-75 m-offset-5" ng-class="{ 'formContainer-active': showForm }">
		<article class="form ed-item s-100 m-75">
			<header>
			  <h3>Registra el canton</h3>
			</header>
			<div class="form__input">
			  <label for="canton">Ingresa el canton</label>
			  <input id="canton" type="text" placeholder='Ejemplo: Santo Domingo' ng-model='data.canton'>
			</div>
			<div class="form__input">
			  <label for="provincia">Seleciona la provincia</label>
			  <select id="provincia" ng-model='data.provincia'>
			  	<option ng-repeat="provincia in provincias" value="{{ provincia.hgc_codi_provi }}">{{ provincia.hgc_desc_provi }}</option>
			  </select>
			</div>
			<div class='main-distribute'>
			  <button class='btn__flat danger' ng-click="handleCancel()">Cancelar</button>
			  <button class='btn__flat' ng-click="handleSave()">Aceptar</button>
			</div>
		</article>
	</div>
</section>
<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right', 'progress-bar': true}"></toaster-container>
