<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace">
  <h1 class="Title">Receta</h2>
  <div class="mask" style="z-index:1111111111;"></div>
  <section class="receta">
    <div class="header-receta">
      <img class="header-receta--img" src="media/empresa/{{empresa.hgc_ava_empr}}" />
      <h2 class="header-receta--title">Ministerio de Salud Publica</h2>
      <h2 class="header-receta--subtitle">{{ empresa.hgc_nom_empr }}</h2>
    </div>
    <div class="receta-informativo">
      <div class="paciente">
        <label>Paciente</label>
        <select class="browser-default">
          <option value="" disabled selected>Selecione el paciente</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="especialidad">
        <label>Especialidad</label>
        <select class="browser-default">
          <option value="" disabled selected>Selecione la especialidad</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="medico">
        <label>Medico</label>
        <select class="browser-default">
          <option value="" disabled selected>Selecione al medico</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="main-end">
      <button class="btn--flat" ng-click="medicineAdd()"><i class="material-icons">add</i></button>
    </div>
    <div class="receta-table">
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Prescripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>34234</td>
            <td>Paracetamol</td>
            <td>Tomar cada 8 horas</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="Form-medicine">
    <h2 class="Form-medicine--title">Agregar Medicina</h2>
    <div class="Form-medicine--search">
      <label for="buscar"><i class="material-icons">search</i></label>
      <input type="text" placeholder="Buscar" id="buscar" />
    </div>
    <div class="Form-medicine--table">
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Medicamento</th>
            <th>Unidad</th>
            <th>Farmacia</th>
            <th>Concentracion</th>
            <th>prescripcion</th>
            <th>principales inficaciones</th>
            <th>Subinidicaciones</th>
            <th>Prescripcion Compuesta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>34234</td>
            <td>Paracetamol</td>
            <td>Tomar cada 8 horas</td>
            <td>Tomar cada 8 horas</td>
            <td>Tomar cada 8 horas</td>
            <td>Tomar cada 8 horas</td>
            <td>Tomar cada 8 horas</td>
            <td>Tomar cada 8 horas</td>
            <td>Tomar cada 8 horas</td>
            <td>
              <button class="btn--flat"><i class="material-icons">add</i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="Form-medicine--actions">
      <button class="btn--flat cancel" ng-click='cancel()'>
        <i class="material-icons">close</i>Cancelar
      </button>
    </div>
  </section>
</section>
