<hgc-menu-doctor></hgc-menu-doctor>
<section class="workSpace">
  <style scoped>
    .select2-container {z-index: 111 !important;}
  </style>
  <h1 class="Title">Receta</h2>
  <div ng-hide='isLoader' class="is-loader">
    <div class="loader-mask"></div>
    <div class="container-loader">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>
    </div>
    <h2 class="is-loader--title">Cargando datos........</h2>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
        </filter>
      </defs>
    </svg>
  </div>
  <div class="mask" style="z-index:1111;"></div>

  <section class="receta">
    <div class="header-receta">
      <img class="header-receta--img" src="media/empresa/{{empresa.hgc_ava_empr}}" />
      <h2 class="header-receta--title">Ministerio de Salud Publica</h2>
      <h2 class="header-receta--subtitle">{{ empresa.hgc_nom_empr }}</h2>
    </div>
    <div class="receta-informativo">
      <div class="paciente">
        <label>Paciente</label>
        <select class="browser-default" ng-model='form.paciente' id='paciente'>
          <option value="" selected>Selecione el paciente</option>
          <option ng-repeat='paciente in pacientes' value="{{paciente.hgc_codi_pacie}}">
            {{ paciente.paciente }}
          </option>
        </select>
      </div>
      <div class="especialidad">
        <label>Especialidad</label>
        <select class="browser-default"
          ng-model='form.especialidad'
          id='especialidad'
          ng-change='changeEspecialidad()'
        >
          <option value="" selected>Selecione la especialidad</option>
          <option ng-repeat="espcialidad in espcialidades" value="{{ espcialidad.hgc_codi_espe }}">
            {{ espcialidad.hgc_desc_espe }}
          </option>
        </select>
      </div>
      <div class="medico">
        <label>Medico</label>
        <select class="browser-default" ng-model='form.medico' id='medico'>
          <option value="" selected>Selecione al medico</option>
          <option ng-repeat='medico in medicos' value="{{medico.hgc_codi_profe}}">
            {{ medico.doctor }}
          </option>
        </select>
      </div>
    </div>
    <div class="main-end btn-medicina">
      <button class="btn--flat" ng-click="medicineAdd()">
        <i class="material-icons">add</i> Agregar medicamento
      </button>
    </div>
    <div class="receta-table">
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <th width="20%">Codigo</th>
            <th width="30%">Nombre</th>
            <th width="40%">Prescripcion</th>
            <th width="10%">Cant</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='item in receta'>
            <td>{{ item.codigo }}</td>
            <td>{{ item.detalle }}</td>
            <td>
              <input ng-model='item.prescripcion' id='receta_prescripcion--{{item.id}}'
                placeholder="Ingrese la prescripcion medica"
              />
            </td>
            <td ng-controller='validForm'>
              <input ng-model='item.cant' id='receta_cant--{{item.id}}' maxlength="4"
                placeholder="Ingrese la cantidad de medicamento" ng-keypress='ValidaSoloNumeros()'
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="Form-medicine--actions">
      <button class="btn--flat " ng-click='save()' ng-disabled='enableSend'>
        <i class="material-icons">send</i> Guardar
      </button>
    </div>
  </section>

  <section class="Form-medicine">
    <h2 class="Form-medicine--title">Agregar Medicina</h2>
    <div class="Form-medicine--search">
      <label for="buscar"><i class="material-icons">search</i></label>
      <input type="text" placeholder="Buscar" id="buscar" ng-pagination-search="farmacia" />
    </div>
    <div class="Form-medicine--table">
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Medicamento</th>
            <th>Unidad</th>
            <th>Forma Farmaceutica</th>
            <th>Concentracion</th>
            <th>Presentacion</th>
            <th>Principales indicaciones</th>
            <th>Demas inidicaciones</th>
            <th>Descripcion Completa</th>
            <th></th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-pagination="farma in farmacia" ng-pagination-size="4">
            <td><p class='ellipsis'>{{ farma.hgc_cod_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_det_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_uni_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_forfa_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_conc_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_prese_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_prinidi_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_subinidi_farm }}</p></td>
            <td><p class='ellipsis'>{{ farma.hgc_prescom_farm }} </p></td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>
              <button class="btn--flat" ng-click='add(farma)'><i class="material-icons">add</i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="main-distribute paging-container">
        <ng-pagination-control pagination-id="farmacia"></ng-pagination-control>
      </div>
    </div>
    <div class="Form-medicine--actions">
      <button class="btn--flat cancel" ng-click='cancel()'>
        <i class="material-icons">close</i>Cancelar
      </button>
    </div>
  </section>
</section>
